<div class="text">
    <h3><span class="header-footer-text">{{ 'Orphan Basic Care' | translate}}</span></h3>

    <p><b><span class="heading-pading">{{
                'BENEFICIARY_NAMES' | translate}}</span></b>
        <br>
        <a href="" ng-repeat="orphan in $parent.donarVM.getBeneficiaryNames($parent.donorProgram)" data-ng-click="
        $parent.$parent.donarVM.getSingleOrphanDetails(orphan);" data-toggle="modal"
            data-target="#singleOrpahnDetailModal">{{
            orphan.orphanName}}
            <span
                ng-show="($index != ($parent.$parent.donorProgram.program.programDetails.additionalMetaData.value && $parent.$parent.donorProgram.program.programDetails.additionalMetaData.value.length - 1) && ($parent.$parent.donorProgram.program.programDetails.additionalMetaData.value && $parent.$parent.donorProgram.program.programDetails.additionalMetaData.value.length > 1))">|
            </span>
        </a>
        <a class="see-more-link"
            ng-show="$parent.donorProgram.program.programDetails.additionalMetaData.value && $parent.donorProgram.program.programDetails.additionalMetaData.value.length > 1"
            ng-click="$parent.donarVM.toggleBeneficiaryNames($parent.donorProgram)">
            <span class="small-text">{{$parent.donarVM.getSeeMoreButtonText($parent.donorProgram)}} </span>
        </a>
    </p>



    <p><b>{{ 'SPONSORSHIP_ENDS_ON' |
            translate}}</b> <br> {{$parent.donorProgram.endDate |
        date:"dd/MM/yyyy"}} <span
            ng-show="$parent.donorProgram.lastPaymentStatus == 'Unpaid' || $parent.donorProgram.subscriptionStatus == 'Active'">({{
            $parent.donorProgram.daysLeft }} {{'DAYS_LEFT' | translate}}) </span></p>

    <p><b>{{ 'PAYMENT PLAN' | translate}}

        </b>
        <a class="schedule-position" ng-show="$parent.donorProgram.showInvoiceLink == true"
            href="{{$parent.donorProgram.invoiceLink}}" target="_blank">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i><span class="small-text"> {{'INVOICE' |
                translate}}</span>
        </a>

        <a class="schedule-position" href="" data-ng-show="$parent.donorProgram.showInstallmentPlanLink == true"
            target="_blank" data-ng-click="$parent.donarVM.getDonorProgramDetails($parent.donorProgram);"
            data-toggle="modal" data-target="#orphanSponsorshipDonorProgramDetailModal">
            <span><i class="fa fa-calendar" aria-hidden="true"></i>
                <span class="small-text"> {{'Schedule' | translate}}
                </span>
            </span>
        </a>

        <br>
        {{$parent.donorProgram.paymentPlan.value[$parent.donarVM.userLanguage]}} -
        {{$parent.donorProgram.currency}} {{$parent.donorProgram.totalAmount}}
    </p>

    <p class="{{vm.selectedLang.toLowerCase()}}"><b>{{ 'CARD DETAIL' | translate}} </b> <span
            class="small-text">({{'CARD_DETAIL_ITEM'
            | translate}})</span>

        <i class="fa fa-info-circle tooltip-icon-lock">

            <span class="tooltip-text"> {{'CARD_INFO_TEXT' | translate}} </span>
        </i>
        <br>
        <span title="Last 4 digits">{{'****' +
            $parent.donorProgram.donor.cardDetail.last4}}</span>
        |
        <span title="Expiry Date">{{$parent.donorProgram.donor.cardDetail.exp_month}} -
            {{$parent.donorProgram.donor.cardDetail.exp_year}} </span>
        <a class="button" ng-href="{{$parent.donorProgram.updateCardUrl}}" target="_blank"
            data-ng-show="$parent.donorProgram.lastPaymentStatus == 'Unpaid' && $parent.donorProgram.showUpdateCardLink == true && $parent.donorProgram.subscriptionStatus == 'Active'">{{'UPDATE_CARD'
            | translate}} </a>
    </p>

    <p
        data-ng-show="($parent.donorProgram.subscriptionStatus == 'Inactive' || $parent.donorProgram.showUpdateCardLink == true) || ($parent.donorProgram.subscriptionStatus == 'Active' && $parent.donorProgram.isAllPaid == true && $parent.donorProgram.isAutoRenewal == false && $parent.donorProgram.subscriptionStatus != 'Renewal Required')">
        <b>{{ 'LAST PAYMENT ATTEMPT' | translate}}</b> <br>{{$parent.donorProgram.lastPaymentDate |
        date:"dd/MM/yyyy"}}
    </p>

    <p
        data-ng-show="($parent.donorProgram.subscriptionStatus == 'Active' && $parent.donorProgram.showUpdateCardLink == false && $parent.donorProgram.paymentPlan.Name == 'MONTHLY' && $parent.donorProgram.isAllPaid == false) || ($parent.donorProgram.subscriptionStatus == 'Active' && $parent.donorProgram.isAllPaid == true && $parent.donorProgram.isAutoRenewal == true && $parent.donorProgram.subscriptionStatus != 'Renewal Required')">
        <b>{{ 'NEXT_BILLING_DATE' | translate}}</b> <br>{{$parent.donorProgram.nextBillingDate |
        date:"dd/MM/yyyy"}}
    </p>

    <div class="div-table"
        data-ng-show="$parent.donorProgram.subscriptionStatus == 'Active' && $parent.donorProgram.showUpdateCardLink == false">
        <input type="checkbox" id="{{'chkAutoRenewal'+$parent.$index}}"
            data-ng-disabled='$parent.donorProgram.disableAutoRenew' ng-checked="$parent.donorProgram.isAutoRenewal"
            data-ng-click="$parent.donarVM.autoRenewal($event,'chkAutoRenewal'+$parent.$index, $parent.donorProgram);"
            name="AutoRenewal">
        <label for="{{'chkAutoRenewal'+$parent.$index}}"> {{ 'RENEW_TEXT' |
            translate}}</label>
    </div>

</div>
<div data-ng-if="$parent.donorProgram.subscriptionStatus == 'Active' && $parent.donorProgram.showUpdateCardLink == false"
    class="statusActive tablecntr"> <label class="CardfooterText header-footer-text">
        {{'Active' | translate}}</label>
</div>
<div data-ng-if="$parent.donorProgram.subscriptionStatus == 'Inactive'" class="statusInactive tablecntr"> <label
        class="CardfooterText text-color">
        {{'Inactive' | translate}}</label>
</div>
<div data-ng-if="$parent.donorProgram.subscriptionStatus == 'Renewal Required'" class="statusGracePeriod tablecntr">
    <label class="CardfooterText text-color">
        {{'Renewal Required' | translate}}</label>
</div>
<div class="statusFailed tablecntr"
    data-ng-if="$parent.donorProgram.lastPaymentStatus == 'Unpaid' && $parent.donorProgram.showUpdateCardLink == true && $parent.donorProgram.subscriptionStatus == 'Active'">
    <label class="CardfooterText text-color">{{'PAYMENT_FAILED' | translate}} </label>
</div>

<!---- Installment Plan Popup --->
<div id="orphanSponsorshipDonorProgramDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title tablecntr">{{'SUBSCRIPTION_PLAN' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="table-wrapper">
                    <table ng="datatable" class="table table-hover table-responsive"
                        dt-options="$parent.donarVM.dtOptions">
                        <thead style="background: #f0c84c;">
                            <td class="tablecntr">{{ 'S.NO' | translate}}</td>
                            <td class="tablecntr">{{ 'INSTALLMENT_DATE' | translate}}</td>
                            <td class="tablecntr">{{ 'BILLING_AMOUNT' | translate}}</td>
                            <td class="tablecntr">{{ 'BALANCE' | translate}}</td>
                            <td class="tablecntr">{{ 'STATUS' | translate}}</td>
                            <td class="tablecntr">{{ 'INVOICE' | translate}}</td>
                        </thead>
                        <tr data-ng-repeat="installment in $parent.$parent.donarVM.installmentPlanList">
                            <td class="tablecntr">{{$index+1}}</td>
                            <td class="tablecntr"> {{installment.installmentDate | date:"dd/MM/yyyy"
                                }} </td>
                            <td class="tablecntr"> {{installment.currency}} {{installment.amount}} </td>
                            <td class="tablecntr"> {{installment.currency}} {{installment.remainingAmount}} </td>
                            <td class="tablecntr"> {{'Installment' + '_' + installment.paymentStatus |
                                translate}} </td>
                            <td><a href="{{installment.invoiceLink}}" target="_blank"
                                    data-ng-if="installment.paymentStatus == 'Paid' && installment.invoiceLink != ''"><i
                                        class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></a>
                                <label data-ng-if="installment.paymentStatus == 'Unpaid'">N/A</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="singleOrpahnDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- <h4 class="modal-title"></h4>-->
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12 centered">
                        <img class="studentProfileImg"
                            ng-src="{{$parent.donarVM.orphanDetails.imageLink?'/uploads/'+$parent.donarVM.orphanDetails.imageLink:'/images/default-img.jpg'}}"
                            alt="orphanImage" />
                    </div>
                    <div class="col-md-12 col-xs-12 no-padding centered">
                        <h4>{{donarVM.orphanDetails.orphanName}}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover studentProfiletable">
                            <tr>
                                <td>{{ 'FILE NO' | translate}}:</td>
                                <td>{{$parent.donarVM.orphanDetails.fileNumber || $parent.donarVM.orphanDetails.orphanId
                                    ||
                                    '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'AGE' | translate}}:</td>
                                <td>{{$parent.donarVM.getAge($parent.donarVM.orphanDetails.dateOfBirth) || '--'}}</td>
                            </tr>
                            <tr>
                                <td>{{ 'DESCENT' | translate}}:</td>
                                <td>{{($parent.donarVM.orphanDetails.descent).toUpperCase() | translate}}</td>
                            </tr>
                            <tr>
                                <td>{{ 'GENDER' | translate}}:</td>
                                <td>{{($parent.donarVM.orphanDetails.gender &&
                                    $parent.donarVM.orphanDetails.gender.toUpperCase()) | translate }}
                                </td>
                            </tr>
                           
                            <tr ng-show="$parent.donarVM.orphanDetails.causeOfDeath != null">
                                <td> {{ 'CAUSE OF FATHER DEATH' | translate}}: </td>
                                <td> {{$parent.donarVM.orphanDetails.causeOfDeath  }} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>