<div data-ng-controller="donarDashboardController as donarVM"
    ng-init="donarVM.getUserRecurringDonations(); donarVM.getTheCountforDonation(); donarVM.getProgramTypes()">
    <!--Recent Donations-->

    <div class="col-xs-12 col-md-10 col-lg-10">
        <!-- <div class="dashboardCounterBoxes ">
            <div class="small-box boxhght boxPurple">
                <div class="inner">
                    <h2 style="font-size: 18px">$
                        {{donarVM.totalOfAutoRenewUSD + donarVM.totalOfAutoRenewDonationUSD | number}}</h2>
                    <h2 style="font-size: 18px">€
                        {{donarVM.totalOfAutoRenewEUR + donarVM.totalOfAutoRenewDonationEUR | number}}</h2>
                    <h2 style="font-size: 18px">£
                        {{donarVM.totalOfAutoRenewGBP + donarVM.totalOfAutoRenewDonationGBP | number}}</h2>
                    <h4 style="font-size:16px;margin: 5px 0;">{{ 'RENEWALS' | translate}}</h4>
                </div>
                <a href="" ng-if="donarVM.userLanguage !== 'ARB'" ui-sref="renewals"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-right"></i></a>
                <a href="" ng-if="donarVM.userLanguage == 'ARB'" ui-sref="renewals"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <div class="dashboardCounterBoxes">
            <div class="small-box boxhght boxPink">
                <div class="inner">
                    <h2 style="font-size: 18px">$ {{donarVM.totalOfRecurringUSD | number}}</h2>
                    <h2 style="font-size: 18px">€ {{donarVM.totalOfRecurringEUR | number}}</h2>
                    <h2 style="font-size: 18px">£ {{donarVM.totalOfRecurringGBP | number}}</h2>
                    <h4 style="font-size:16px;margin: 5px 0;">{{ 'PERIODIC' | translate}}</h4>
                </div>
                <a href="" ng-if="donarVM.userLanguage !== 'ARB'" ui-sref="donarRecurring"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-right"></i></a>
                <a href="" ng-if="donarVM.userLanguage == 'ARB'" ui-sref="donarRecurring"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div> -->
     <!--   <div class="dashboardCounterBoxes">
            <div class="small-box boxhght boxNavyBlue">
                <div class="inner">
                    <h2 style="font-size: 18px">$ {{donarVM.totalOfOrphanUSD | number}}</h2>
                    <h2 style="font-size: 18px">€ {{donarVM.totalOfOrphanEUR | number}}</h2>
                    <h2 style="font-size: 18px">£ {{donarVM.totalOfOrphanGBP | number}}</h2>
                    <h4 style="font-size:16px;margin: 5px 0;">{{ 'BASIC CARE' | translate}}</h4>
                </div>
                <a href="" ng-if="donarVM.userLanguage !== 'ARB'" ui-sref="generalCareSponsorship"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-right"></i></a>
                <a href="" ng-if="donarVM.userLanguage == 'ARB'" ui-sref="generalCareSponsorship"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <div class="dashboardCounterBoxes">
            <div class="small-box boxhght boxYellow">
                <div class="inner">
                    <h2 style="font-size: 18px">$ {{donarVM.totalOfDazUSD | number}}</h2>
                    <h2 style="font-size: 18px">€ {{donarVM.totalOfDazEUR | number}}</h2>
                    <h2 style="font-size: 18px">£ {{donarVM.totalOfDazGBP | number}}</h2>
                    <h4 style="font-size:16px;margin: 5px 0;">{{ 'DAZ SCHOOL' | translate}}</h4>
                </div>
                <a href="" ng-if="donarVM.userLanguage !== 'ARB'" ui-sref="DAZSchool"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-right"></i></a>
                <a href="" ng-if="donarVM.userLanguage == 'ARB'" ui-sref="DAZSchool"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <div class="dashboardCounterBoxes">
            <div class="small-box boxhght boxOrange">
                <div class="inner">
                    <h2 style="font-size: 18px">$ {{donarVM.totalOfdonationUSD | number}}</h2>
                    <h2 style="font-size: 18px">€ {{donarVM.totalOfdonationEUR | number}}</h2>
                    <h2 style="font-size: 18px">£ {{donarVM.totalOfdonationGBP | number}}</h2>
                    <h4 style="font-size:16px;margin: 5px 0;">{{ 'TOTAL' | translate}}</h4>
                </div>
                <a href="" ng-if="donarVM.userLanguage !== 'ARB'" ui-sref="donarDashboard"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-right"></i></a>
                <a href="" ng-if="donarVM.userLanguage == 'ARB'" ui-sref="donarDashboard"
                    class="small-box-footer">{{ 'MORE INFO' | translate}} <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div> -->
    </div>

    <div class="col-md-4 col-xs-12 form-inline" style="margin-bottom: 10px;">
        <div class="form-group">
            <label><b>{{ 'DonationRecurring' | translate}}:</b></label>
            <select ng-model="donarVM.programType" class="form-control" required
                data-ng-change="donarVM.recordsLimit=8">
                <option value="">{{ 'All category' | translate}} </option>
                <option ng-value="type.slug" data-ng-repeat="type in donarVM.programTypesList">
                    {{(type.programTypeName == 'Religious Payments')? 'Islamic Payments' : type.programTypeName && (type.programTypeName == 'General Care')? 'Basic Care' : type.programTypeName && (type.programTypeName == 'Sadaqa')? 'Sadaqah' : type.programTypeName}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-10 col-xs-12 overflowTable">
        <table class="table table-hover"
            ng-if="donarVM.recurringList.length && !donarVM.recurringList || (donarVM.recurringList  | filter : categoryFilter).length">
            <thead style="background-color: #f0c84c;">
                <td class="tablecntr">{{ 'SR NO' | translate}}</td>
                <td class="tablecntr">{{ 'DESCRIPTION' | translate}}</td>
                <td class="tablecntr">{{ 'Details (if any)' | translate}}</td>
                <td class="tablecntr">{{ 'END DATE' | translate}}</td>
                <td class="tablecntr">{{ 'Next Payment' | translate}}</td>
                <td class="tablecntr">{{ 'STATUS' | translate}}</td>
                <td class="tablecntr">{{ 'AMOUNT' | translate}}</td>
            </thead>
            <tr
                data-ng-repeat="donation in donarVM.recurringList | filter:categoryFilter | limitTo: donarVM.recordsLimit">
                <td class="tablecntr">{{$index+1}}</td>
                <td class="tablecntr">{{donation.program[0].programName || '----'}}</td>
                <td class="tablecntr">{{((donation.programSubCategory[0].programSubCategoryName) | translate) || '----'}}</td>
                <td class="tablecntr">{{donation.endDate | date:"dd-MM-yyyy"}}</td>
                <td class="tablecntr">{{donation.nextDonationDate | date:"dd-MM-yyyy"}}</td>
                <td class="tablecntr">{{(donation.isChanged?'Inactive':'active').toUpperCase() | translate}}</td>
                <td ng-if="donarVM.userLanguage !== 'ARB'" style="width:100px;text-align: left; position: relative;">
                    <span style="position: absolute; left: 10px;   bottom: 10px;">
                        <span
                            style="margin-left:0px;margin-right: 5px;">{{donation.donationDetails.donation.currency}}</span>
                        {{donation.amount | number: 2}}
                    </span>
                </td>
                <td ng-if="donarVM.userLanguage === 'ARB'" style="width:100px;text-align: left; position: relative;">
                    <span style="position: absolute; left: 10px;   bottom: 10px;">
                        {{donation.amount | number: 2}}
                        <span
                            style="margin-left:10px;margin-right: 5px;">{{donation.donationDetails.donation.currency}}</span>
                    </span>
                </td>
            </tr>
        </table>
        <!-- Blank Table Start -->

        <table class="table table-hover"
            ng-if="!donarVM.recurringList || !(donarVM.recurringList  | filter : categoryFilter).length">
            <thead style="background-color: #f0c84c;">
                <td class="tablecntr">{{ 'S.NO' | translate}}</td>
                <td class="tablecntr">{{ 'DESCRIPTION' | translate}}</td>
                <td class="tablecntr">{{ 'Details (if any)' | translate}}</td>
                <td class="tablecntr">{{ 'END DATE' | translate}}</td>
                <td class="tablecntr">{{ 'Next Payment' | translate}}</td>
                <td class="tablecntr">{{ 'AMOUNT' | translate}}</td>
            </thead>
            <tr>
                <td class="tablecntr">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
            </tr>
            <tr>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
            </tr>
            <tr>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
            </tr>
            <tr>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
            </tr>
            <tr>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
            </tr>
            <tr>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
                <td class="tablecntr">&nbsp;</td>
            </tr>
        </table>

        <!-- Blank Table Close -->
        <!-- <p class="text-center record-nf" style="color: red" ng-if="!donarVM.recurringList || !(donarVM.recurringList  | filter : categoryFilter).length">{{ 'Record not found' | translate}}</p> -->
        <a href="javascript:void(0)" class="alignright loadmore"
            data-ng-if="donarVM.recordsLimit < (donarVM.recurringList  | filter : categoryFilter).length"
            data-ng-click="donarVM.loadMore();"><img src="images/3.gif" width="15"
                height="15">&nbsp;&nbsp;{{ 'LOAD MORE' | translate}}</a>
    </div>

</div>