<div data-ng-controller="postController as postVM" data-ng-init="postVM.getPosts()">
        <!-- Content Wrapper. Contains page content -->

            <!-- Content Header (Page header) -->
            <!--<section class="content-header">-->
    <!-- -->
    <!-- -->
            <!--</section>-->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                <div class="row">
                    <div class="col-xs-10 col-md-10 col-lg-10 ">


               
                    <div class="col-md-10 col-xs-12 col-md-offset-1">
                            <div class="col-md-8 nopadding">
                                <h4>{{ 'POSTS' | translate }}</h4>
                            </div>
                            <div class="col-md-4 no-padding">

                                <div class="col-md-12 no-padding">
                                    <input type="text" class="form-control pull-right" data-ng-model="postVM
                            .searchValue" placeholder="{{ 'SEARCH BY NAME' | translate }}" />
                                </div>
                                <!-- <div class="col-md-3 no-padding">
                                    <button type="button" name="searchBtn" class="btn btn-bitbucket pull-right">{{ 'SEARCH' | translate }}</button>
                                </div> -->

                            </div>
                        <div class="box box-primary" style="float: left">
                            <div class="box-header">
                                <div class="box-title">
    
                                </div>
                            </div>
                            <div class="box-body overflowTable">
                                <form role="form">
                                    <table class="table table-responsive">
                                        <thead>
                                            <td>
                                                {{ 'POST NO.' | translate }}
                                            </td>
                                            <td>
                                                {{ 'POST NAME' | translate }}
                                            </td>
                                            <td>
                                                {{ 'PUBLISH DATE' | translate }}
                                            </td>
                                            <td>
                                                {{ 'ACTIONS' | translate }}
                                            </td>
                                        </thead>
                                        <tr ng-repeat="post in postVM.posts | filter:{postName: postVM.searchValue}">
                                            <td>{{$index+1}}</td>
                                            <td>{{post.postName}}</td>
                                            <td>{{post.created | date:'MM/dd/yyyy'}}</td>
                                            <td> <a href="/#/admin/updatepost?postid={{post._id}}"><i class="fa fa-edit">{{ 'EDIT' | translate }}</i></a> |
                                                <button  data-ng-click="postVM
                                            .deletePost(post._id);"><i class="fa fa-trash-o"></i></button> 
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="box-footer">
                                <span class="alert-success" data-ng-bind="postVM
                            .result.message"> </span>
                            </div>
                        </div>
                    </div>
                </div></div>
        </div>
            </section>
            <!-- /.content -->

        <!-- HEADER -->
    
    </div></div>
    <script>
        jQuery(function () {
            jQuery('#edit').editable({ inlineMode: false, fullPage: true })
        });
    
    </script>