<div data-ng-controller="orphanController as orphanVM" ng-init="orphanVM.getCountryList();">
    <!-- Content Wrapper. Contains page content -->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-0">
                        <div class="box box-primary {{orphanVM.language.toLowerCase()}}">
                            <div class="box-header text-center">
                                <div class="col-md-12">

                                    <div class="box-title orphan-box">
 
                                        <h3 class="update-orphan-title"> {{'ADD ORPHAN'| translate}} </h3>
                                   
                                    </div>

                                </div>
                            </div>
                            <div class="box-body">
                                <form role="form" name="publishForm" enctype="multipart/form-data"
                                    data-ng-submit="orphanVM.addOrphan(publishForm.$valid)">

                                    <div class="row orphan-row-margin">

                                        <div class="col-md-6">

                                            <label class="control-label">{{'ORPHAN ID'| translate}}</label>
                                            <fieldset>
                                                <input type="text" name="fileNumber" id="fileNumber"
                                                    class="form-control col-md-6"
                                                    placeholder="{{'FILE NUMBER'| translate }}" required
                                                    autocomplete="off" data-ng-model="orphanVM.orphanId">
                                            </fieldset>

                                        </div>

                                        <div class="col-md-6">

                                            <div class="row">

                                                <div class="col-md-6">

                                                    <label class="control-label">{{'NAME'| translate}}</label>
                                            <input type="text" name="orphanName" required maxlength="100"
                                                autocomplete="off" data-ng-model="orphanVM.orphanName"
                                                class="form-control col-md-6" placeholder="{{'NAME'| translate}}" />

                                                </div>

                                                <div class="col-md-6">

                                                    <label class="control-label">{{'FATHER NAME'| translate}}</label>
                                            <input type="text" name="fatherName" required maxlength="100"
                                                autocomplete="off" data-ng-model="orphanVM.fatherName"
                                                class="form-control col-md-6" placeholder="{{'FATHER NAME'| translate}}" />


                                                </div>

                                            </div>
                                            

                                        </div>

                                    </div>

                                    <div class="row orphan-row-margin">

                                        <div class="col-md-6">

                                            <label class="control-label">{{'DATE OF BIRTH'| translate}}</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" id="txtDOB1" ng-click="setPosDOB();"
                                                    ng-change="dobDateChange()" name="dateOfBirth"
                                                    data-ng-model="orphanVM.dateOfBirth"
                                                    class="form-control pull-right readonly"
                                                    placeholder="{{'DATE OF BIRTH'| translate}}" />
                                            </div>
                                           
                                        </div>

                                        <div class="col-md-6">

                                            <div class="row">

                                                <div class="col-md-4">

                                                    <label class="control-label">{{'GENDER'| translate}}</label>
                                            <fieldset>
                                                <input type="radio" name="gender" data-ng-model="orphanVM.gender"
                                                    value="Male"> {{'MALE'| translate}}
                                                <input type="radio" name="gender" data-ng-model="orphanVM.gender"
                                                    value="Female">{{'FEMALE'| translate}}
                                                <br>
                                            </fieldset>
                                                  
                                                </div>

                                                <div class="col-md-5">

                                                    <label class="control-label">{{'DECEND'| translate}}</label>
                                            <fieldset>
                                                <input type="radio" name="isSyed" data-ng-model="orphanVM.isSyed"
                                                    value="false"> {{'NONSYED' | translate}}
                                                <input type="radio" name="isSyed" data-ng-model="orphanVM.isSyed"
                                                    value="true"> {{'SYED' | translate}}
                                            </fieldset>

                                                </div>

                                            </div>
                                            

                                        </div>

                                    </div>

                                    <div class="row orphan-row-margin">

                                        <div class="col-md-6">

                                            <label class="control-label">{{'NATIONALITY'| translate}}</label>
                                            <select ng-model="orphanVM.selectedCountry.name" autocomplete="off"
                                                class="form-control"
                                                data-ng-options="x.name for x in orphanVM.country">
                                                <option value="">{{'PLEASE SELECT COUNTRY' | translate }}</option>
                                            </select>

                                        </div>

                                        <div class="col-md-6">

                                            <label class="control-label">{{'CITY'| translate}}</label>
                                            <input type="text" name="city" required maxlength="25" autocomplete="off"
                                                data-ng-model="orphanVM.city" class="form-control col-md-6"
                                                placeholder="{{'CITY'| translate}}" />

                                        </div>

                                    </div>

                                    <div class="row orphan-row-margin">

                                        <div class="col-md-6">

                                            <label class="control-label">{{'MOTHER NAME' | translate}}</label>
                                                <input type="text" name="motherName" maxlength="100"
                                                    data-ng-model="orphanVM.motherName" class="form-control col-md-6"
                                                    placeholder="{{'MOTHER NAME' | translate}}" />
                                        </div>

                                        <div class="col-md-6">

                                            <label class="control-label">{{'CAUSE OF FATHER DEATH' | translate}}</label>    
                                                <input type="text" name="causeOfDeath" required maxlength="100"
                                                    data-ng-model="orphanVM.causeOfDeath" class="form-control col-md-6"
                                                    placeholder="{{'CAUSE OF FATHER DEATH'| translate}}" />    
                                            
                                        </div>

                                    </div>

                                    <div class="row orphan-row-margin">

                                        <div class="col-md-6">

                                            <div class="form-group">
                                               

                                                <label class="control-label">{{'ORPHAN PROFILE PICTURE' | translate}}</label> 
                                                <br>
                                                <div class="orphan-btn-wrapper">

                                                    <button class="btn"> {{'UPLOAD IMAGE' |
                                                        translate}} </button>
                                                    <input type="file" name="file" file-model="orphanVM.file"
                                                        class="image " placeholder="{{'SADAQA IMAGE' | translate}}" />

                                                </div>
 
                                            </div>

                                        </div>

                                        <div class="col-md-6">

                                            <button name="publish" type="submit" class="btn btn-primary btn-add-button pull-right"
                                                style="margin-top:5px;">{{'ADD ORPHAN'| translate}}
                                            </button>

                                        </div>

                                    </div>

                                    <!-- <div class="col-md-6">
                                        <div class="col-md-12 no-padding">
                                            <label class="control-label">{{'FAMILY NAME'| translate}}</label>
                                            <input type="text" name="familyName" required maxlength="100"
                                                data-ng-model="orphanVM.familyName" class="form-control col-md-6"
                                                placeholder="{{'FAMILY NAME'| translate}}" />
                                        </div>
                                    </div> -->
                                    
                                    <!-- <div class="col-md-6" style="margin-top:10px;">
                                        <div class="col-md-12 no-padding">
                                            <label class="control-label">{{'CONTACT DETAILS'| translate}}</label>
                                            <textarea style="resize: horizontal; max-width: 400px; min-width: 350px;"
                                                type="text" name="contactDetails" required maxlength="255"
                                                data-ng-model="orphanVM.contactDetails" class="form-control col-md-6"
                                                placeholder="{{'CONTACT DETAILS'| translate}}" />
                                            </div>
                                </div> -->

                                    <!-- <div class="col-md-6">
                                    <div class="col-md-12 no-padding" style="margin-top:10px">
                                        <label class="control-label">{{'FATHER NAME'| translate}}</label>
                                        <input type="text" name="fatherName" maxlength="100" data-ng-model="orphanVM.fatherName" class="form-control col-md-6" placeholder="{{'FATHER NAME'| translate}}"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:10px">
                                    <div class="col-md-12 no-padding">
                                        <label class="control-label">{{'MOTHER NAME'| translate}}</label>
                                        <input type="text" name="motherName" maxlength="100" data-ng-model="orphanVM.motherName" class="form-control col-md-6" placeholder="{{'MOTHER NAME'| translate}}"
                                        />
                                    </div>
                                </div> -->
                                    
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- HEADER -->
    </div>
</div>
<script>
    jQuery(document).on('keypress paste', '.validateNumber', function (event) {
        var regex = new RegExp(/^[A-Za-z~`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/);
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (regex.test(key)) {
            jQuery(this).focus();
            jQuery(this).parent().next('span:first').html("<span class='inputError'></span>").show().fadeOut();
            return false;
        } else {
            jQuery(this).parent().next('span:first').html("");
            return true;
        }
    });
    jQuery(".readonly").on('keydown paste', function (e) {
        e.preventDefault();
    });

</script>