<div data-ng-controller="generalCareController as generalCareVM" data-ng-init="generalCareVM.getGeneralCares();">
    <!-- Content Wrapper. Contains generalCare content -->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
    <div class="content-wrapper">
        <!-- Content Header (generalCare header) -->
        <section class="content-header">


        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Your generalCare Content Here -->
            <div class="row">
                <div class="col-md-10 col-xs-12 col-md-offset-1">
                    <div class="col-md-8 nopadding">
                        <h4>{{'GENERAL CARE'| translate}}</h4>
                    </div>
                    <div class="col-md-4 no-padding">

                        <div class="col-md-12 no-padding">
                            <input type="text" class="form-control pull-right" data-ng-model="generalCareVM.searchValue" placeholder="{{'SEARCH BY NAME'| translate}}"
                            />
                        </div>
                        <!-- <div class="col-md-3 no-padding">
                            <button type="button" name="searchBtn" class="btn btn-bitbucket pull-right">{{'SEARCH'| translate}}</button>
                        </div> -->

                    </div>
                </div>

                <div class="col-md-10 col-xs-12 col-md-offset-1">
                    <div class="box box-primary">
                        <div class="box-header">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label ng-binding">{{'ADD PAGE CONTENT' | translate}}</label>
                                    <textarea rows="4" id="gcTxt" cols="50" style="width: 100%; resize: none;" data-ng-model="generalCareVM.content"  placeholder="{{'PLEASE ENTER CONTENT' | translate}}"></textarea>
                                    <p style="color: red;" id="showError"></p>
                                    <button data-ng-click="generalCareVM.saveBasicContent()" class="btn btn-default pull-right">{{'SAVE BASIC CARE'| translate}}</button>
                            </div>
                        </div>
                        </div>
                        <div class="box-body overflowTable">
                            <form role="form">
                                <table class="table table-responsive">
                                    <thead>
                                        <td>
                                            {{'GENERAL CARE NO.'| translate}}
                                        </td>
                                        <td>
                                            {{'GENERAL CARE NAME'| translate}}
                                        </td>

                                        <td>
                                            {{'CREATED DATE'| translate}}
                                        </td>
                                        <td>
                                            {{'STATUS'| translate}}
                                        </td>
                                        <td>
                                           {{'ACTIONS'| translate}}
                                        </td>
                                    </thead>
                                    <tr ng-repeat="generalCare in generalCareVM.generalCares | filter:{programName: generalCareVM.searchValue}">
                                        <td>{{$index+1}}</td>
                                        <td>{{generalCare.programName}}</td>
                                        <td>{{generalCare.created | date:'MM/dd/yyyy'}}</td>
                                        <td>
                                            <p class="{{generalCare.isActive==true?'bg-success':'btn-danger'}}">{{generalCare.isActive==true?'Active':'Inactive' }}</p>
                                        </td>
                                        <td> <a href="/#/admin/updateGeneralCare?generalCareId={{generalCare._id}}"><i class="fa fa-edit">Edit</i></a>                                            |
                                            <button class="{{generalCare.isActive==true?'btn btn-danger':'btn btn-success'}}" data-ng-click="generalCareVM.deleteGeneralCare(generalCare._id,generalCare.isActive);">{{generalCare.isActive==true?'Deactivate':'Activate'}}</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- HEADER -->
</div>
</div>
<script>
    jQuery(function () {
        jQuery('#edit').editable({ inlineMode: false, fullgeneralCare: true })
    });

</script>