<div data-ng-controller="studentProfileController as studentVM" data-ng-init="studentVM.getStudents();">
    <!-- Content Wrapper. Contains student content -->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
        <div class="content-wrapper">
            <!-- Content Header (student header) -->
            <section class="content-header">


            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Your student Content Here -->
                <div class="row">
                    <div class="col-md-10 col-xs-12 col-md-offset-1">
                        <div class="col-md-8 nopadding">
                            <h4>{{'STUDENT LIST'| translate}}</h4>
                        </div>
                        <div class="col-md-4 no-padding">

                            <div class="col-md-6 no-padding">
                                <input type="text" class="form-control pull-right" data-ng-model="studentVM.searchValue"
                                    placeholder="{{'SEARCH BY NAME'| translate}}" />
                            </div>
                            <div class="col-md-6 no-padding">
                                <input type="text" class="form-control pull-right"
                                    data-ng-model="studentVM.searchStudentId"
                                    placeholder="{{'SEARCH BY ID'| translate}}" />
                            </div>
                            <!-- <div class="col-md-3 no-padding">
                            <button type="button" name="searchBtn" class="btn btn-bitbucket pull-right">{{'SEARCH'| translate}}</button>
                        </div> -->

                        </div>
                    </div>

                    <div class="col-md-10 col-xs-12 col-md-offset-1">

                        <div class="container" style="margin-top: 20px; max-width: 100%;">
                            <div class="row">

                                <!-- <div class="col-lg-6 col-sm-6 col-12">
                                            <div class="jumbotron">
                                                <h1>Bootstrap File Input Demo</h1>
                                            </div>
                                        </div> -->

                                <!-- <div class="col-lg-6 col-sm-6 col-12">
                                            <h4>Standard Button</h4>
                                            <label class="btn btn-primary">
                                                Browse&hellip; <input type="file" style="display: none;">
                                            </label>
                                        </div> -->
                                <!-- <div class="col-lg-6 col-sm-6 col-12">
                                            <h4>Block-level Button
                                            <label class="btn btn-block btn-primary">
                                                Browse&hellip; <input type="file" style="display: none;">
                                            </label>
                                        </div> -->

                                <!-- <div class="col-lg-6 col-sm-6 col-12">
                                            <h4>Button Groups</h4>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-default">Action 1</a>
                                                <a href="#" class="btn btn-default">Action 2</a>
                                                <label class="btn btn-primary">
                                                    Browse&hellip; <input type="file" style="display: none;">
                                                </label>
                                            </div>
                                        </div> -->

                                <div class="box box-primary">
                                    <div class="box-header">
                                        <div class="col-md-6">
                                            <div class="box-title box-button"
                                                style="background: none !important; width: 100%;">
                                                <span class="btn btn-primary btn-file"
                                                    style="background: #00a65a; border:none; padding: 20px 30px; width: 100%;">
                                                    {{'UPLOAD CSV' | translate}}<input
                                                        style="margin-bottom: 1rem; font-size: 1.4rem"
                                                        ng-disabled="processingCSV" type="file" file-model="csvFile"
                                                        id="file" name='file' /><br>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box-title box-button" style="width: 100%;">
                                                <div class="box-title box-button" style="width: 100%;">
                                                    <form name="form">
                                                        <div style="padding: 20px 30px; width: 100%;"
                                                            class="btn btn-success" ngf-select ng-model="files"
                                                            ngf-accept="'image/*,application/pdf'" ngf-multiple="true">
                                                            {{'UPLOAD PHOTO' | translate}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <br>
                                            <div class="col-md-6">
                                                <button class="btn" style="font-size:12px;"
                                                    ng-click="handleFileSelect()">
                                                    {{'PROCESS CSV' | translate}}</button>
                                                <button class="btn" style="font-size:12px;"
                                                    ng-click="hideShowSponsored()">
                                                    <span ng-if="!showSponsored">
                                                        {{'Show Sponsored' | translate}}</span>
                                                    <span ng-if="showSponsored">{{'Hide Sponsored' | translate}}</span>
                                                </button>
                                                <button class="btn" style="font-size:12px;"
                                                    ng-class="{'btn-warning': studentVM.students.length !== studentVM.totalStudents.length }"
                                                    ng-click="showAll()">
                                                    <span>{{'SHOW ALL' | translate}}</span>
                                                </button>
                                            </div>

                                        </div>
                                        <div class="col-md-12" style="margin-bottom: 40px" ng-if="files.length">

                                            <h3>Upload queue</h3>
                                            <p>Queue length: {{ files.length }}</p>

                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="50%">Name</th>
                                                        <th>Size</th>
                                                        <th>Progress</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in files">
                                                        <td><strong>{{ item.name }}</strong></td>
                                                        <td nowrap>
                                                            {{ item.size/1024/1024|number:2 }} MB</td>
                                                        <td>
                                                            <div class="progress" style="margin-bottom: 0;">
                                                                <div class="progress-bar" role="progressbar"
                                                                    ng-style="{ 'width': progressPercentage + '%' }">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="col-md-12">
                                                <br>
                                            </div>
                                            <div>
                                                Queue progress:
                                                <div class="progress" style="">
                                                    <div class="progress-bar" role="progressbar"
                                                        ng-style="{ 'width': progressPercentage + '%' }"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-s" ng-click="submitFiles()"
                                                ng-disabled="!files.length">
                                                <span class="glyphicon glyphicon-upload"></span> Upload all
                                            </button>
                                            <button type="button" class="btn btn-danger btn-s" ng-click="files = []"
                                                ng-disabled="!files.length">
                                                <span class="glyphicon glyphicon-trash"></span> Remove all
                                            </button>
                                        </div>
                                        <div class="box-body overflowTable">
                                            <form role="form">
                                                <table class="table table-responsive">
                                                    <thead>
                                                        <td>
                                                            {{'SNO.' | translate}}
                                                        </td>
                                                        <td>
                                                            {{'Student ID' | translate}}
                                                        </td>
                                                        <td>
                                                            {{'STUDENT NAME'| translate}}
                                                        </td>
                                                        <td>
                                                            Syed/Non-Syed
                                                        </td>
                                                        <td>
                                                            {{'CLASS'| translate}}
                                                        </td>
                                                        <td>
                                                            {{'AGE'| translate}}
                                                        </td>
                                                        <td>
                                                            {{'CREATED DATE'| translate}}
                                                        </td>
                                                        <td>
                                                            {{'IS SPONSORED'| translate}}
                                                        </td>
                                                        <td>
                                                            {{'STATUS'| translate}}
                                                        </td>
                                                        <td>
                                                            {{'ACTIONS'| translate}}
                                                        </td>
                                                    </thead>
                                                    <tr
                                                        ng-repeat="student in studentVM.students | filter:{studentName: studentVM.searchValue}
                                                        |filter:{studentId: studentVM.searchStudentId}| orderBy : 'studentId'">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{student.studentId}}</td>
                                                        <td>{{student.studentName}}</td>
                                                        <td>{{(student.descent === "Syed"?"Syed":"Non-Syed").toUpperCase() | translate }}
                                                        </td>
                                                        <td>{{student.grade}}</td>
                                                        <td>{{age(student.dateOfBirth)}}</td>
                                                        <td>{{student.created | date:'MM/dd/yyyy'}}</td>
                                                        <td>{{student.isSponsored?"YES":"NO" | translate}}</td>
                                                        <td>
                                                            <p
                                                                class="{{student.isActive==true?'bg-success':'btn-danger'}}">
                                                                {{student.isActive==true?'Active':'Inactive' }}</p>
                                                        </td>
                                                        <td>
                                                            <a href="/#/admin/updateStudent?studentId={{student._id}}">
                                                                <i class="fa fa-edit">{{'EDIT'| translate}}</i>
                                                            </a> |
                                                            <button
                                                                class="{{student.isActive==true?'btn btn-danger':'btn btn-success'}}"
                                                                ng-disabled="student.isSponsored"
                                                                data-ng-click="studentVM.deleteStudent(student.studentId,student.isActive);">{{(student.isActive==true?'Deactivate':'Activate').toUpperCase() | translate}}</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                        <div class="box-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


            </section>
            <!-- /.content -->
        </div>
        <!-- HEADER -->

    </div>
</div>
<script>
    jQuery(function () {
        jQuery('#edit').editable({ inlineMode: false, fullstudent: true })
    });
</script>