<div data-ng-controller="occasionController as  occasionVM" ng-init="occasionVM.getProgramTypes(); ">
    <!-- Content Wrapper. Contains page content -->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->

            <div class="row">
                <div class="col-md-8 col-xs-12 col-md-offset-1">
                    <section class="content-header nopadding">
                    <h1>
                        {{'ADD OCCASION'| translate}}
                        <small></small>
                    </h1>

                </section>
                    <div class="box box-primary">
                        <div class="box-header">
                            <div class="box-title"></div>
                        </div>
                        <div class="box-body">
                            <form role="form" class="form-horizontal" name="publishForm" enctype="multipart/form-data" data-ng-submit="occasionVM.addOccasion(publishForm.$valid)">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'PROGRAM TYPE'| translate}}</label>
                                    <div class="col-md-7">
                                        <select ng-model="occasionVM.selectedProgramType" required class="form-control" data-ng-options="x.programTypeName for x in occasionVM.programTypes"
                                            data-ng-change="occasionVM.getActivePrograms();">
                                            <option value="">{{'SELECT'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'PROGRAM'| translate}}</label>
                                    <div class="col-md-7">
                                        <select ng-model="occasionVM.selectedProgram" required class="form-control" data-ng-options="x.programName for x in occasionVM.programs"
                                            data-ng-change="occasionVM.getSubCategoriesOfSelectedProgam();">
                                            <option value="">{{'SELECT'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'SUBCATEGORY'| translate}}</label>
                                    <div class="col-md-7">
                                        <select ng-model="occasionVM.selectedCategory" required class="form-control" data-ng-options="x.programSubCategoryName
                                        for x in occasionVM.subcategories" >
                                            <option value="">{{'SELECT'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'OCCASION'| translate}}</label>
                                    <div class="col-md-7">
                                        <input type="text" name="occasionName" required maxlength="85" ng-model="occasionVM.occasionName" placeholder="{{'NAME'| translate}}"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'FIXED AMOUNT'| translate}}</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control pull-right validateNumber" name="fixedAmount" required  maxlength="8" ng-model="occasionVM.fixedAmount" placeholder="{{'AMOUNT'| translate}}"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-10">
                                        <button name="publish" type="submit" class="btn btn-primary pull-right" style="margin-top:5px;">{{'ADD OCCASION'| translate}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- HEADER -->

</div>
    </div>
<script>
    jQuery(document).on('keypress paste', '.validateNumber', function (event) {
        var regex = new RegExp(/^[A-Za-z~`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/);
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (regex.test(key)) {
            jQuery(this).focus();
            jQuery(this).parent().next('span:first').html("<span class='inputError'></span>").show().fadeOut();
            return false;
        } else {
            jQuery(this).parent().next('span:first').html("");
            return true;
        }
    });
    jQuery(".readonly").on('keydown paste', function (e) {
        e.preventDefault();
    });

</script>