<div data-ng-controller="duaController as duaVM" data-ng-init="duaVM.getDuas();">
    <!-- Content Wrapper. Contains project content -->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
        <div class="content-wrapper">
            <!-- Content Header (project header) -->
            <section class="content-header">


            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Your project Content Here -->
                <div class="row">
                    <div class="col-md-10 col-xs-12 col-md-offset-1">
                        <div class="col-md-8 nopadding">
                            <h4>{{'ZIYARAH' | translate}}(s)</h4>
                        </div>
                        <div class="col-md-4 no-padding">

                            <div class="col-md-12 no-padding">
                                <!-- <input type="text" class="form-control pull-right" data-ng-model="duaVM.searchValue"
                                   placeholder="{{'SEARCH'| translate}}"/> -->
                            </div>
                            <!-- <div class="col-md-3 no-padding">
                            <button type="button" name="searchBtn" class="btn btn-bitbucket pull-right">{{'SEARCH'| translate}}</button>
                        </div> -->

                        </div>
                    </div>

                    <div class="col-md-10 col-xs-12 col-md-offset-1">
                        <div class="box box-primary">
                            <div class="box-header">
                                <div class="box-title">

                                </div>
                            </div>
                            <div class="box-body overflowTable">
                                <form role="form">
                                    <table class="table table-responsive">
                                        <thead>
                                            <td>
                                                {{'ZIYARAH' | translate}} No.
                                            </td>
                                            <td>
                                                {{'ZIYARAHNAME'| translate}}
                                                <input type="text" class="form-control pull-right"
                                                    data-ng-model="duaVM.searchZiyarahName"
                                                    placeholder="{{'SEARCH BY ZIYARAH NAME'| translate}}" />
                                            </td>
                                            <td>
                                                {{'OCCASION'| translate}}
                                                <input type="text" class="form-control pull-right"
                                                    data-ng-model="duaVM.searchOccasion"
                                                    placeholder="{{'SEARCH BY OCCASION'| translate}}" />
                                            </td>
                                            <td>
                                                {{'SUB CATEGORY'| translate}}
                                                <input type="text" class="form-control pull-right"
                                                    data-ng-model="duaVM.searchSubCategory"
                                                    placeholder="{{'SEARCH BY SUB CATEGORY'| translate}}" />
                                            </td>
                                            <td>
                                                {{'CREATED DATE'| translate}}
                                            </td>
                                            <td>
                                                {{'STATUS'| translate}}
                                            </td>
                                            <td>
                                                {{'ACTIONS'| translate}}
                                            </td>
                                        </thead>
                                        <tr ng-repeat="dua in duaVM.duas | filter:{ duaName: duaVM.searchZiyarahName } | filter: 
                                        {occasion: { occasionName: duaVM.searchOccasion}} | filter: { occasion: {programSubCategory: {programSubCategoryName : duaVM.searchSubCategory}}}">
                                            <td>{{$index+1}}</td>
                                            <td>{{dua.duaName}}</td>
                                            <td>{{dua.occasion[0].occasionName}}</td>
                                            <td>{{dua.occasion[0].programSubCategory[0].programSubCategoryName}}</td>
                                            <td>{{dua.created | date:'MM/dd/yyyy'}}</td>
                                            <td>
                                                <p class="{{dua.isActive==true?'bg-success':'btn-danger'}}">
                                                    {{dua.isActive==true?'Active':'Inactive' }}</p>
                                            </td>
                                            <td><a href="/#/admin/updateDua?duaid={{dua._id}}"><i
                                                        class="fa fa-edit">{{'EDIT'| translate}}</i></a> |
                                                <button
                                                    class="{{dua.isActive==true?'btn btn-danger':'btn btn-success'}}"
                                                    data-ng-click="duaVM.deleteDua(dua._id,dua.isActive);">
                                                    {{dua.isActive==true?'Deactivate':'Activate'}}
                                                </button>
                                            </td>
                                    </table>
                                </form>
                            </div>
                            <div class="box-footer">

                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- HEADER -->

    </div>
</div>
<script>
    jQuery(function () {
        jQuery('#edit').editable({ inlineMode: false, fullproject: true })
    });

</script>