<div data-ng-controller="pageContentController as pageVM">
    <!-- Content Wrapper. Contains page content -->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ 'DASHBOARD' | translate }}
                <small>{{ 'ISLAMIC DONATION SITE' | translate }}</small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-info">
                <!--<table class="table table-bordered">
                    <thead>
                    <td>Sample</td>
                    <td>Sample2</td>
                    <td>Sample3</td>
                    </thead>
                    <tr>
                        <td>data</td>
                        <td>data2</td>
                        <td>data3</td>
                    </tr>
                </table>-->

            </div>
            <!-- Your Page Content Here -->

        </section>
        <!-- /.content -->
    </div>
        </div>
    <!-- HEADER -->

</div>