<footer class="grop-footer_area" data-ng-controller="pageContentController as pageVM"
    data-ng-init="pageVM.getWebSettings();">
    <!-- Footer Widgets -->
    <div class="grop-footer_top_widgets_warp">
        <div class="container">
            <div class="row grop-footer_widgets">
                <div class="col-md-3 col-sm-6 displayFloatRight grop-ftr_logo">
                    <div class=" vt-text-widget"><a class="grop-ftr_logo" style="" href="#0"><img src="images/logo.png"
                                alt="#" /></a>
                        <div class="clear"></div>
                    </div>
                    <!-- end widget -->
                    <div class="textwidget  grop-ftr_wigt_locn  vt-text-widget grop-ftr_logo">
                        <p class="mobile-footer">
                            {{ 'Najafyia Foundation is Registered by the Charity Commission of UK (1127754) and in Special Consultative Status with the Economic and Social Council (ECOSOC) of the United Nations.' | translate }}
                        </p>

                    </div>
                    <!-- end widget -->
                </div>
                <div class="hidden-xs col-md-3 col-sm-6 grop-float_left grop-ftr_logo">
                    <div class=" grop-ftr_sngl_widget grop-navigation-widget">
                        <h4 class="grop-ftr_widget_title">{{ 'PROJECTS' | translate }}</h4>
                        <div class=" nav-notenabled-child">
                            <div class="menu-footer-menu-container">
                                <ul id="menu-footer-menu" class="menu grop-sidenav">
                                    <li id="menu-item-2058"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2058">
                                        <a href="/#/projectdetails/-microfinance"> {{ 'MICROFINANCE' | translate }}</a>
                                    </li>
                                    <li id="menu-item-2062"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2062">
                                        <a
                                            href="/#/projectdetails/higher-education-loans">{{ 'HIGHER EDUCATION LOAN' | translate }}</a>
                                    </li>
                                    <!-- <li id="menu-item-2059"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2059">
                                        <a
                                            href="/#/projectdetails/hawzah-students">{{ 'HAWZA STUDENTS' | translate }}</a>
                                    </li> -->
                                    <li id="menu-item-2061"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2061">
                                        <a
                                            href="/#/projectdetails/refugees-&-idps">{{ 'REFUGEES & IDPS' | translate }}</a>
                                    </li>
                                    <li id="menu-item-2061"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2061">
                                        <a
                                            href="/#/projectdetails/general-fund-project">{{ 'GENERAL FUND' | translate }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class=" grop-ftr_sngl_widget widget_tp_widget_recent_tweets">
                        <h4 class="grop-ftr_widget_title">{{'ORPHANS' | translate }}</h4>
                        <div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="menu grop-sidenav">
                                <li id="menu-item-2060"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060"><a
                                        href="/#/generalcares">{{' BASIC CARE' | translate }}</a></li>
                                <li id="menu-item-2060"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060"><a
                                        href="/#/daralzahra"> {{'DAR AL ZAHRA SCHOOL' | translate }}</a></li>
                            </ul>

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- end widget -->
                </div>
                <div class="hidden-xs col-md-3 col-sm-6 grop-float_left">
                    <div class=" grop-ftr_sngl_widget widget_tp_widget_recent_tweets">

                        <div class=" grop-ftr_sngl_widget widget_tp_widget_recent_tweets">
                            <h4 class="grop-ftr_widget_title">{{'ISLAMIC PAYMENTS' | translate }}</h4>
                            <div class="menu-footer-menu-container">
                                <ul id="menu-footer-menu" class="menu grop-sidenav">
                                    <li id="menu-item-2060"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                        <a href="/#/religiouspayment_subcategories/-khums">{{'KHUMS' | translate }}</a>
                                    </li>
                                    <li id="menu-item-2060"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                        <a
                                            href="/#/religiouspayment_subcategories/ibadaat-for-marhumeen">{{'IBADAAT FOR MARHUMEEN' | translate }}</a>
                                    </li>
                                    <li id="menu-item-2060"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                        <a
                                            href="/#/religiouspayment_subcategories/kaffarah-fidyah">{{'KAFFARAH/FIDYAH' | translate }}</a>
                                    </li>
                                    <li id="menu-item-2060"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                        <a
                                            href="/#/religiouspayment_subcategories/qurbani-(sacrifice)">{{'QURBANI' | translate }}</a>
                                    </li>
                                    <li id="menu-item-2060"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                        <a href="/#/religiouspayment_subcategories/-niyaz">{{'NIYAZ' | translate }}</a>
                                    </li>
                                </ul>

                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class=" grop-ftr_sngl_widget widget_tp_widget_recent_tweets">
                            <h4 class="grop-ftr_widget_title">{{'SADAQAH' | translate }}</h4>
                            <div class="menu-footer-menu-container">
                                <ul id="menu-footer-menu" class="menu grop-sidenav">
                                    <li id="menu-item-2060"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                        <a href="/#/sadaqadetails/sadaqah-a-day">{{'SADAQAH A DAY' | translate }}</a>
                                    </li>
                                    <li id="menu-item-2060"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                        <a
                                            href="/#/sadaqadetails/sadaqah-for-holy-personalities">{{'SADAQAH FOR HOLY PERSONALITIES' | translate }}</a>
                                    </li>

                                </ul>

                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- end widget -->
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 grop-float_left grop-ftr_logo">
                    <div class=" grop-ftr_sngl_widget widget_tp_widget_recent_tweets">
                        <h4 class="grop-ftr_widget_title">{{'CONTACT DETAILS' | translate}}</h4>
                        <div class="tp_recent_tweets">
                             <p class="grop-txt-blockf ">{{'ADDRESS: AL QUDS BEHIND SOUTH GARAGE NAJAF AL ASHRAF REPUBLIC OF IRAQ' | translate}}</p>
                            <address class="grop-ftr_wigt_locn "><span class=" grop-footer-adrs-5a0c0d2f39ab2">{{'EMAIL' | translate}}: <a
                                    href="mailto:info@najafyia.org" target="_blank">                     {{pageVM.webSettings.email}}
                                </a></span>
                            </address>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widgets -->

    <!-- Copyright Bar -->
    <div class="grop-footer-bottom">
        <div class="container">
            <div class="row  grop-fix">
                <div class="col-sm-6">

                    <!-- <p class="grop-copyright">{{pageVM.webSettings.copyRights | translate}}</p> -->
                    <p class="grop-copyright">
                    {{pageVM.webSettings.copyRights}}
                    </p>
                </div>
                <div class="col-sm-6 col-xs-12 copy-secondary">
                    <div class="grop-footer-socail">
                        <ul class=" ">
                            <li data-ng-repeat="social in pageVM.webSettings.socialMedia" class="mobile-footer-icon">
                                <a href="{{social.link}}" target="_blank"><img
                                        ng-src="images/icons/{{social.socialMedia | iconImage}}.svg" width="40" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright Bar -->
</footer>