<div data-ng-controller="menuController as menuVM" data-ng-init="menuVM.LoadMainMenu()">
  <header class="grop-header_area  header-area-trprnt">
    <!--  header top bar start  \-->
    <div class="grop-header_top nopadding" style="background-color: #000000;">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3" style="">
            <div class="text-left grop-header_info   address-info-5a0d231773235">

            </div>
          </div>
          <!-- grop-topbar-left -->
          <div class="col-md-9 col-sm-9">
            <div class="text-left grop-header_info   address-info-5a0d231773235">
              <ul class=" list-inline grop-float_right">
                <li><a href="#" target="_blank"><img src="images/icons/language-01.png"/><i class="fa fa-angle-down"></i> Language</a></li>
                <li><a href="#" target="_blank"><img src="images/icons/currency-01.png"/> currency</a></li>
                <li><a href="#" target="_blank"><img src="images/icons/donation-01.png"/> Donation ways</a></li>
                <li><a href="#" target="_blank"><img src="images/icons/faq-01.png"/> FAQ</a></li> |
                <li class="margin60"><a href="#" target="_blank"><img src="images/icons/login-01.png"/> Login</a></li>
                <li><a href="#" target="_blank"><img src="images/icons/cart-01.png"/> Cart</a></li>

              </ul>
            </div>
          </div>
          <!-- grop-topbar-right -->
        </div>
        <!-- Row -->
      </div>
      <!-- Container -->
    </div>
    <div class="grop-header_navigations  sticky-header ">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-xs-6 grop-logo-br">
            <div class="grop-hadr_logos  hav-transparent-logo hav-transparent-retina hav-default-logo hav-default-retina-logo dhav-mobile-logo"
              style="">
              <a href="index.html" class="grop-logo transparent-retina-logo "><img src="images/logo%402x.png"  alt=""></a>
              <a href="index.html" class="grop-logo retina-logo"><img src="images/logo-black.png" alt=""></a>
              <a href="index.html" class="grop-logo default-logo"><img src="images/logo.png" alt="" ></a>
              <a href="index.html" class="grop-logo grop-default-logo"><img src="images/logo-black.png" alt=""></a>
            </div>
          </div>
          <div class="col-sm-10 col-xs-6 grop-nav-br">
            <div class="grop-float_right grop-naviga_btns">
              <div class="grop-hadr_shopping_cart hide">
              <a href="cart/index.html"><i class="fa fa-shopping-cart "></i></a>
              </div>
              <!--/end-->
              <div class="grop-hadr_search">
                <a href="#"><i class="fa fa-search"></i></a>
                <div class="grop-hadrsrch_form_warp">
                  <div class="grop-hadrsrch_form">
                    <form method="get" id="searchform" action="#">
                      <input type="search" name="s" id="s" placeholder="Type and hit enter">
                      <button type="submit">
                  <span class="grop-srchicon"></span>
              </button>
                    </form>
                  </div>
                </div>
              </div>
              <!--/end--><a class="grop-btn grop-btn_overly grop-hadr_donate_btn" href="causes-list/index.html"><span>Newsletter</span></a>              </div>
            <!--  header nav right side btns end-->
            <div class="grop-mobil_menu_warp">

              <ul id="grop-mobil_menu" class="slimmenu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent  menu-item-1568"><a href="index.html">Home</a>

                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-624"><a href="#">About Usss</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625"><a href="#">Our Story</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632"><a href="#">Secretary general Introduction</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-650"><a href="#">Success Stories</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631"><a href="#">Gallery</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1332"><a href="#">News</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-633"><a href="#">Projects</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2198"><a href="#">Children Madrasah (Pakistan) </a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634"><a href="#">Hawza Student </a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635"><a href="#">Health Care </a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-636"><a href="#">Orphans</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-637"><a href="#">General Care</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-638"><a href="#">Education</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-639"><a href="#">Islamic Payments</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640"><a href="#">Khums</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-641"><a href="#">Niyaz</a></li>


                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-646"><a href="#">Sadaqa</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643"><a href="#">Daily Sadaqa</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-644"><a href="#"> Religious Personalities Sadaqa</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1567"><a href="#0">Get Involved</a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-649"><a href="shop/index.html">Donation Ways</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1564"><a href="cart/index.html">Fund Raise</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1565"><a href="checkout/index.html">Volenteer with Us</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1566 menu-item-has-children"><a href="my-account/index.html">Supplies</a>
                      <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1564"><a href="cart/index.html">Medical Supplies</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1565"><a href="checkout/index.html">Clothing Supplies</a></li>

                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <nav class="grop-float_right  grop-mainmenu_warp">
              <ul id="grop-mainmenu" class="grop-list_unstyled">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-624" data-ng-repeat="x in menuVM.mainMenuList"><a href="{{x.link}}">{{x.menuName}}</a>
                  <ul class="sub-menu" data-ng-show="x.subMenu.length>0">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625" data-ng-repeat="y in x.subMenu | orderBy:'-y.priority'"><a href="{{y.link}}">{{y.menuName}}</a></li>
                  </ul>
                </li>


              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<script type="text/javascript" src="assets/js/plugins4963.js?ver=1.1"></script>
