<aside ng-controller="mainController as vm">

    <!--main-sidebar -->
    <nav class="navbar navbar-inverse sidebar arbCss" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="display: flex; margin:4%;">
                    <img src="./../images/logo.png" style="width: 40%;" />
                    <a class="navbar-brand customStyle" href="javascript:;" style="margin-top: 10%;">
                        {{'NAJAFYIA' | translate}}</a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/#/admin/dashboard">{{ 'DASHBOARD' | translate }}
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin">
                        <a href="/#/admin/setTarget">{{ 'setTarget' | translate }}
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'USERS' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/adduser">{{ 'ADD USER' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/userlist">{{ 'USER LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ 'REPRESENTATIVE' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addRepresentative">{{ 'ADD REPRESENTATIVE' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/representativeList">{{ 'REPRESENTATIVE LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin || vm.isContentEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'PAGE' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addpage">{{ 'ADD PAGE' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/addPageContent">{{ 'ADD PAGE CONTENT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/addDynamicPageContent">{{ 'ADD DYNAMIC PAGE CONTENT' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="/#/admin/pagelist">{{ 'PAGE LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'POST' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                  class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addpost">{{ 'ADD POST' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/postlist">{{ 'POST LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="dropdown" ng-if="vm.isAdmin || vm.isContentEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'PROJECTS' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addproject">{{ 'ADD PROJECT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/projectlist">{{ 'PROJECT LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin || vm.isContentEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'SADAQAH' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addsadaqa">{{ 'ADD SADAQAH' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/sadaqalist">{{ 'SADAQAH LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin || vm.isContentEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ 'RELIGIOUS PAYMENT' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addReligiousPayment">{{ 'ADD RELIGIOUS PAYMENT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/religiousPaymentslist">{{ 'RELIGIOUS PAYMENT LIST' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin || vm.isContentEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'ORPHANS' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addGeneralCare">{{ 'ADD GENERAL CARE' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/generalCareList">{{ 'GENERAL CARE LIST' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/addOrphan">{{ 'ADD ORPHAN' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/orphanList">{{ 'ORPHANS LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="vm.isAdmin || vm.isContentEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ 'DAR AL ZAHRA' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addDarAlZahraModule">{{ 'ADD DAR AL ZAHRA MODULE' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/darAlZahraList">{{ 'DAR AL ZAHRA LIST' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/addStudent">{{ 'ADD STUDENT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/studentList">{{ 'STUDENT LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">Orphans <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li><a href="/#/admin/adduser">Add user</a></li>
                            <li><a href="/#/admin/userlist">User List</a></li>                            
                        </ul>
                    </li> -->
                    <li class="dropdown" ng-if="vm.isAdmin || vm.isContentEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'CAMPAIGN' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/addCampaign">{{ 'ADD CAMPAIGN' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/campaignList">{{ 'CAMPAIGN LIST' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="(vm.isAdmin || vm.isContentEditor) || vm.isCurrencyEditor">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'SETUP' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li ng-if="vm.isAdmin || vm.isContentEditor">
                                <a href="/#/admin/addsubcategory">{{ 'ADDSUBCATEGORY' | translate }}</a>
                            </li>
                            <li ng-if="vm.isAdmin || vm.isContentEditor">
                                <a href="/#/admin/subcategorylist">{{ 'SUBCATEGORYLIST' | translate }}</a>
                            </li>
                            <li ng-if="vm.isAdmin || vm.isContentEditor">
                                <a href="/#/admin/addOccasion">{{ 'ADDOCASSION' | translate }}</a>
                            </li>
                            <li ng-if="vm.isAdmin || vm.isContentEditor">
                                <a href="/#/admin/occasionList">{{ 'OCASSIONLIST' | translate }}</a>
                            </li>
                            <li ng-if="vm.isAdmin || vm.isContentEditor">
                                <a href="/#/admin/addDua">{{ 'ADDZIYARAH' | translate }}</a>
                            </li>
                            <li ng-if="vm.isAdmin || vm.isContentEditor">
                                <a href="/#/admin/duaList">{{ 'ZIYARAHLIST' | translate }}</a>
                            </li>
                            <li ng-if="vm.isCurrencyEditor || vm.isAdmin">
                                <a href="/#/admin/currencySetup">{{ 'CURRENCYRATESETUP' | translate }}</a>
                            </li>
                        </ul>

                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/manageorphans">
                            <span>{{'MANAGE ORPHANS' | translate}}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/managestudents">
                            <span>{{'MANAGE STUDENTS' | translate}}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/webSettings">
                            <span>{{ 'WEB SETTINGS' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/suggestedDonations">
                            <span>{{ 'SUGGESTED DONATIONS' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin || vm.isContentEditor">
                        <a href="/#/admin/orphanContent">
                            <span>{{ 'ORPHANCE CONTENT' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin || vm.isContentEditor">
                        <a href="/#/admin/setmenu">
                            <span>{{ 'SET MENU' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/contactUs">
                            <span>{{ 'CONTACT US' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/newsLetter-list">
                            <span>{{ 'NEWSLETTER LIST' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/receipts">
                            <span>{{ 'RECEIPTS' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/khumsreceipts">
                            <span>{{ 'KHUMS RECEIPT' | translate }}</span>
                        </a>
                    </li>

                    <li class="dropdown" ng-if="vm.isAdmin">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ 'ZIYARAT' | translate }}
                            <span class="caret"></span>
                           
                        </a>
                    <ul class="dropdown-menu forAnimate" role="menu"  >
                    <li >
                        <a href="/#/admin/ziyaratList">
                            <span>{{ 'ZIYARAT LIST' | translate }}</span>
                        </a>
                    </li>
                    <li >
                        <a href="/#/admin/ziyaratAdminSetting">
                            <span style="font-size:14px;"
                            class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                            <span>{{ 'ZIYARAT SETTING' | translate }}</span>
                          
                        </a>
                    </li>
                </ul>
                    </li>

                    <li ng-if="vm.isAdmin">
                        <a href="/#/admin/sendNotification">
                            <span>{{ 'NOTIFICATIONS' | translate }}</span>
                        </a>
                    </li>
                    <li class="dropdown" ng-if="vm.isAccountant || vm.isAdmin">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'REPORTS' | translate }}
                            <span class="caret"></span>
                            <span style="font-size:16px;"
                                class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>
                                <a href="/#/admin/donarWiseReport">{{ 'DONAR WISE REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/donarDetailReport">{{ 'DONAR DETAIL REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/hajjZiyarahReport">{{ 'HAJJ & ZIYARAH REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/islamicPaymentsReport">{{ 'ISLAMIC PAYMENT REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/khumsReport">{{ 'KHUMS REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/projectionReport">{{ 'PROJECTION REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/profileReport">{{ 'PROFILE STATISTICS' | translate }}</a>
                            </li>
                            <li>
                                <a
                                    href="/#/admin/sponsorshipRenewalReport">{{ 'SPONSORSHIP RENEWAL REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/consolidatedReport">{{ 'CONSOLIDATED REPORT' | translate }}</a>
                            </li>
                            <li>
                                <a href="/#/admin/accountingReport">{{ 'ACCOUNTING REPORT' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- sidebar: style can be found in sidebar.less -->

    <!-- /.sidebar -->
</aside>
<style>
    body,
    html {
        height: 100%;
    }

    /* remove outer padding */

    .main .row {
        padding: 0px;
        margin: 0px;
    }

    /*Remove rounded coners*/

    nav.sidebar.navbar {
        border-radius: 0px;
    }

    nav.sidebar,
    .main {
        -webkit-transition: margin 200ms ease-out;
        -moz-transition: margin 200ms ease-out;
        -o-transition: margin 200ms ease-out;
        transition: margin 200ms ease-out;
    }

    /* Add gap to nav and right windows.*/

    .main {
        padding: 10px 10px 0 10px;
    }

    /* .....NavBar: Icon only with coloring/layout.....*/

    /*small/medium side display*/

    @media (min-width: 768px) {

        /*Allow main to be next to Nav*/
        .main {
            position: absolute;
            width: calc(100% - 40px);
            /*keeps 100% minus nav size*/
            margin-left: 40px;
            float: right;
        }

        /*lets nav bar to be showed on mouseover*/
        nav.sidebar:hover+.main {
            margin-left: 200px;
        }

        /*Center Brand*/
        nav.sidebar.navbar.sidebar>.container .navbar-brand,
        .navbar>.container-fluid .navbar-brand {
            margin-left: 0px;
        }

        /*Center Brand*/
        nav.sidebar .navbar-brand,
        nav.sidebar .navbar-header {
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

        /*Center Icons*/
        nav.sidebar a {
            padding-right: 13px;
        }

        /*adds border top to first nav box */
        nav.sidebar .navbar-nav>li:first-child {
            border-top: 1px #e5e5e5 solid;
        }

        /*adds border to bottom nav boxes*/
        nav.sidebar .navbar-nav>li {
            border-bottom: 1px #e5e5e5 solid;
        }

        /* Colors/style dropdown box*/
        nav.sidebar .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        /*allows nav box to use 100% width*/
        nav.sidebar .navbar-collapse,
        nav.sidebar .container-fluid {
            padding: 0 0px 0 0px;
        }

        /*colors dropdown box text */
        .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: #777;
        }

        /*gives sidebar width/height*/
        nav.sidebar {
            width: 200px;
            height: 100%;
            margin-left: -160px;
            float: left;
            z-index: 8000;
            margin-bottom: 0px;
        }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover {
            margin-left: 0px;
        }

        /*for hiden things when navbar hidden*/
        .forAnimate {
            opacity: 0;
        }
    }

    /* .....NavBar: Fully showing nav bar..... */

    @media (min-width: 1330px) {

        /*Allow main to be next to Nav*/
        .main {
            width: calc(100% - 200px);
            /*keeps 100% minus nav size*/
            margin-left: 200px;
        }

        /*Show all nav*/
        nav.sidebar {
            margin-left: 0px;
            float: left;
        }

        /*Show hidden items on nav*/
        nav.sidebar .forAnimate {
            opacity: 1;
        }
    }

    nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
    nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #CCC;
        background-color: transparent;
    }

    nav:hover .forAnimate {
        opacity: 1;
    }

    section {
        padding-left: 15px;
    }
</style>
<script>
    jQuery(function ($) {
        function htmlbodyHeightUpdate() {
            var height3 = $(window).height()
            var height1 = $('.nav').height() + 50
            height2 = $('.main').height()
            if (height2 > height3) {
                $('html').height(Math.max(height1, height3, height2) + 10);
                $('body').height(Math.max(height1, height3, height2) + 10);
            }
            else {
                $('html').height(Math.max(height1, height3, height2));
                $('body').height(Math.max(height1, height3, height2));
            }

        }

        $(document).ready(function () {
            htmlbodyHeightUpdate()
            $(window).resize(function () {
                htmlbodyHeightUpdate()
            });
            $(window).scroll(function () {
                height2 = $('.main').height()
                htmlbodyHeightUpdate()
            });
        });
    });

</script>