<div class="grop-page container padding-cnt-no grop-full-width">
        <div class="no-sidebar">
            <div data-ng-controller="postController as postVM" data-ng-init="postVM.getActivePosts();">
                <div class="col-md-12 col-xs-12 project-detail-banner">
                    <h1>posts</h1>
                </div>
                <div class="col-md-12 nopadding">
                  <hr style="border:1px solid #CECECE">
                </div>
                <div class="col-md-9">
                    <div class="col-md-12" data-ng-repeat="x in postVM.Posts">
                        <div class="box box-primary">
                            <div class="box-header">
                                <div class="box-title"> {{x.postName}}</div>
                            </div>
                            <div class="box-body">
                                <img src="uploads/{{x.imageLink}}" class="post-list-image">
                                <p style="text-align:justify;">
                                    {{x.description.substring(0,100)}}
                                </p>
                                <a ng-href="/#/postdetail/{{x._id}}" class="grop-btn grop-btn_overly grop-btn_submit">View Details</a>
                            </div>
                        </div>
                    </div>
    
    
                </div>
                <div class="col-md-3">
                   
    
                </div>
            </div>
        </div>
    </div>