<div class="grop-page padding-cnt-no grop-full-width ">
    <div data-ng-controller="projectController as projectVM" data-ng-init="projectVM.getProgramType();">

        <!-- Content Wrapper. Contains page content -->
        <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                <div class="row">
                    <div class="col-md-10 col-xs-12 col-md-offset-1">
                        <div class="box box-primary">
                            <div class="box-header">
                                <div class="col-md-10 box-title">
                                    {{'ADD PROJECT' | translate }}
                                </div>
                            </div>
                            <div class="box-body">
                                <form role="form" name="publishForm" enctype="multipart/form-data"
                                      data-ng-submit="projectVM.addProject(publishForm.$valid)">
                                    <div class="col-md-6">
                                        <div class="col-md-12 nopadding">
                                            <label class="control-label">{{'PROJECT NAME'| translate}}</label>
                                            <input type="text" name="projectName" required maxlength="80"
                                                   data-ng-model="projectVM.projectName" class="form-control col-md-6"
                                                   placeholder="{{'PROJECT NAME'| translate}}"/>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6">-->
                                        <!--<div class="col-md-12">-->
                                            <!--<label class="control-label">{{'PROJECT DESCRIPTION'| translate}}</label>-->
                                            <!--<textarea type="text" name="description" required maxlength="500"-->
                                                      <!--data-ng-model="projectVM.projectDescription"-->
                                                      <!--class="form-control col-md-6"-->
                                                      <!--placeholder="Project Description"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-12"><br>
                                        <label class="control-label">{{'PROJECT DESCRIPTION'| translate}}</label>
                                        <div id="editor" aria-placeholder="Write">
                                            <div id='addproject' name="addproject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top:20px">
                                        <div class="col-md-4 no-padding">
                                            <input type="checkbox" name="hasSubCategory"
                                                   ng-model="projectVM.hasCategories"/>&nbsp;{{'SUB CATEGORIES'| translate}}
                                        </div>
                                        <div class="col-md-10" style="margin-top:10px"
                                             ng-show="projectVM.hasCategories">
                                            <table class="table table-bordered">
                                                <thead class="success">
                                                <td class="col-md-2"> {{'SELECT'| translate}}</td>
                                                <td>{{"CATEGORIES"| translate}}</td>
                                                </thead>
                                                <tr ng-repeat="x in projectVM.projectCategories track by $index">
                                                    <td>
                                                        <input type="checkbox" class=""
                                                               ng-click="projectVM.addOrRemoveSubcategory(x)">
                                                    </td>
                                                    <td>{{x.programSubCategoryName}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-top:20px">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label">{{'PROJECT IMAGE'| translate}}</label>
                                                <input type="file" name="file" required file-model="projectVM.file"
                                                       class="image " placeholder="{{'PROJECT IMAGE'| translate}}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top:20px">
                                        <div class="box box-info">
                                            <div class="box-header  no-padding"><br>
                                                <h3 class="box-title">{{'DONATION PROCESS'| translate}}</h3>
                                            </div>
                                            <div class="box-body  no-padding">
                                                <div class="col-md-12 no-padding">
                                                    <div class="col-md-8 no-padding">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="minimumAmount"
                                                                       ng-model="projectVM.isMinimumAmount"/> {{'MINIMUM AMOUNT'| translate}}</label>
                                                        </div>
                                                        <div class="col-md-4" ng-show="projectVM.isMinimumAmount">
                                                            <label>{{'ENTER VALUE'| translate}}</label>
                                                            <div class="input-group date">
                                                                <input type="text"
                                                                       class="form-control pull-right validateNumber"
                                                                       maxlength="8"
                                                                       ng-required="projectVM.isMinimumAmount"
                                                                       ng-model="projectVM.minimumAmount"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 no-padding">
                                                    <div class="col-md-8 no-padding">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="recurring"
                                                                       ng-model="projectVM.isRecurring"/> {{'RECURRING'| translate}}
                                                            </label>
                                                        </div>
                                                        <div class="col-md-10" ng-show="projectVM.isRecurring">
                                                            <table class="table table-bordered">
                                                                <thead class="success">
                                                                <td> {{'SELECT'| translate}}</td>
                                                                <td>{{'DONATION DURATION'| translate}}</td>
                                                                </thead>
                                                                <tr id="donationDurationCheckBox"
                                                                    ng-repeat="x in projectVM.donationDurations track by $index">
                                                                    <td>
                                                                        <input id="{{x._id}}" type="checkbox"
                                                                               ng-checked="x.selected" class=""
                                                                               ng-click="projectVM.addorRemoveDonationDuration(x)">
                                                                    </td>
                                                                    <td>{{x.donationDurationName}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 no-padding">
                                                    <div class="col-md-4 no-padding">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="yearAround"
                                                                       ng-model="projectVM.isYearAround"/> {{'YEAR AROUND'| translate}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 no-padding">
                                                    <div class="col-md-8 no-padding">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="amount"
                                                                       ng-model="projectVM.isAmount"/> {{'FIXED AMOUNT'| translate}}
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4" ng-show="projectVM.isAmount">
                                                            <label>{{'ENTER VALUE'| translate}}</label>
                                                            <div class="input-group date">
                                                                <input type="text" ng-keypress='isNumberKey($event)'
                                                                       class="form-control pull-right validateNumber"
                                                                       maxlength="8" ng-required="projectVM.isAmount"
                                                                       ng-model="projectVM.amount"
                                                                />
                                                            </div>
                                                        </div>
                                                        <label ng-if="projectVM.minimumAmount > 0 && projectVM.minimumAmount > projectVM.amount" class="text-danger">Fixed Amount should be greater than minimum amount</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 no-padding">
                                                    <div class="col-md-4 no-padding">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="duration"
                                                                       ng-model="projectVM.isDuration"/> {{'DURATION'| translate}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 no-padding" ng-show="projectVM.isDuration">
                                                    <div class="col-md-4 no-padding">
                                                        <div class="form-group">
                                                            <label>{{'START DATE'| translate}}</label>
                                                            <div class="input-group date">
                                                                <div class="input-group-addon ">
                                                                    <i class="fa fa-calendar"></i>
                                                                </div>
                                                                <input type="text" id="txtFromDate"
                                                                       ng-click="setPosFromDate();"
                                                                       ng-change="startDateChange()"
                                                                       name="durationStart"
                                                                       class="form-control pull-right readonly"
                                                                       ng-required="projectVM.isDuration"
                                                                       ng-model="projectVM.StartDate"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 no-padding">
                                                        <div class="form-group">
                                                            <label>{{'END DATE'| translate}}</label>
                                                            <div class="input-group date ">
                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </div>
                                                                <input type="text" id="txtToDate"
                                                                       ng-click="setPosToDate();"
                                                                       class="form-control pull-right readonly"
                                                                       ng-required="projectVM.isDuration"
                                                                       ng-model="projectVM.EndDate"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 no-padding">
                                                    <div class="col-md-2 no-padding">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="isCount"
                                                                       ng-model="projectVM.isCount"/> {{'COUNT'| translate}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12" ng-show="projectVM.isCount">
                                                    <div class="col-md-4 no-padding">
                                                        <label>{{'MIN' | translate}}</label>
                                                        <input type="text" class="form-control validateNumber"
                                                               ng-model="projectVM.count.min" maxlength="3"
                                                               ng-required="projectVM.isCount"
                                                               placeholder="1"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>{{'MAX' | translate}}</label>
                                                        <input type="text" class="form-control validateNumber"
                                                               ng-model="projectVM.count.max"
                                                               ng-required="projectVM.isCount" maxlength="3"
                                                               placeholder="100"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>{{'INTERVAL'| translate}}</label>
                                                        <input type="text" class="form-control validateNumber"
                                                               ng-model="projectVM.count.interval"
                                                               ng-required="projectVM.isCount"
                                                               maxlength="3" placeholder="10"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 row" style="margin-top: 10px;">
                                                                <label>{{ 'PRIORITY RANK' | translate }}</label>
                                                                <input type="text" ng-keypress='isNumberKey($event)' class="form-control validateNumber"
                                                                    ng-model="projectVM.programPriority" min='1'
                                                                    required placeholder="1" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-md-2 col-md-offset-10">
                                            <button name="publish" type="submit" class="btn btn-primary pull-right" ng-disabled="(projectVM.isMinimumAmount && projectVM.isAmount) && projectVM.minimumAmount > 0 && (projectVM.minimumAmount > projectVM.amount)"
                                                    style="margin-top:5px;">{{'ADD PROJECT'| translate}}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- HEADER -->

    </div>
</div></div>

<script>
    jQuery(document).on('keypress paste', '.validateNumber', function (event) {
        var regex = new RegExp(/^[A-Za-z~`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/);
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (regex.test(key)) {
            jQuery(this).focus();
            jQuery(this).parent().next('span:first').html("<span class='inputError'></span>").show().fadeOut();
            return false;
        } else {
            jQuery(this).parent().next('span:first').html("");
            return true;
        }
    });
    jQuery(".readonly").on('keydown paste', function (e) {
        e.preventDefault();
    });

</script>
<script>
    jQuery(function () {
        jQuery('#addproject').editable({inlineMode: false, fullPage: true});
    });
</script>