<div data-ng-controller="pagecontroller as pageVM" data-ng-init="pageVM.getPages()">
    <!-- Content Wrapper. Contains page content -->
    <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!--<section class="content-header">-->


        <!--</section>-->

        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div class="row">
                <div class="col-md-10 col-xs-12 col-md-offset-1">
                    <div class="col-md-8">
                        <h4>{{ 'PAGES' | translate }}</h4>
                    </div>
                    <div class="col-md-4 no-padding">

                        <div class="col-md-12 no-padding">
                            <input type="text" class="form-control pull-right" data-ng-model="pageVM.searchValue" placeholder="{{ 'SEARCH BY NAME' | translate }}" />
                        </div>
                        <!-- <div class="col-md-3 no-padding">
                            <button type="button" name="searchBtn" class="btn btn-bitbucket pull-right">{{ 'SEARCH' | translate }}</button>
                        </div> -->

                    </div>
                </div>
            
                <div class="col-md-10 col-xs-12 col-md-offset-1">
                    <div class="box box-primary">
                        <div class="box-header">
                            <div class="box-title">

                            </div>
                        </div>
                        <div class="box-body overflowTable">
                            <form role="form">
                                <table class="table table-responsive">
                                    <thead>
                                        <td>
                                            {{ 'PAGE NO.' | translate }}
                                        </td>
                                        <td>
                                            {{ 'PAGE NAME' | translate }}
                                        </td>
                                        <td>
                                            {{ 'PUBLISH DATE' | translate }}
                                        </td>
                                        <td>
                                            {{ 'ACTIONS' | translate }}
                                        </td>
                                    </thead>
                                    <tr ng-repeat="page in pageVM.pages | filter:{pageName: pageVM.searchValue}">
                                        <td>{{$index+1}}</td>
                                        <td>{{(page.pageName).toUpperCase() | translate}}</td>
                                        <td>{{page.created | date:'MM/dd/yyyy'}}</td>
                                        <td> <a href="/#/admin/updatepage?pageid={{page._id}}"><i class="fa fa-edit">{{ 'EDIT' | translate }}</i></a> |
                                            <button  data-ng-click="pageVM.deletePage(page._id);"><i class="fa fa-trash-o"></i></button> 
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="box-footer">
                           
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- HEADER -->

</div></div>
<script>
    jQuery(function () {
        jQuery('#edit').editable({ inlineMode: false, fullPage: true })
    });

</script>