/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
....................... TEMPLATE PRIMARY COLOR ...............
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
.grop-hadr_donate_btn, .grop-sildcap_donate_btn, #grop-mainmenu > li > ul.sub-menu:before, .grop-big_link, .grop-cause_donate_btn, .grop-prlaxcap_donate_btn, .grop-ucoming_evnt_date, .grop-fetrdcs_dnt_btn,
.grop-prlaxcap_bcmvoljn_btn, .grop-help_btn, .grop-footer-socail li a:hover, .grop-footer-socail li a:focus, .grop-callout2_warp, .progress-content,
.grop-prgss_donate_btn, .grop-dnatrsd_cont_warp:before, .grop-h2bcm_vntr_jn_btn, .grop-suprtus_tday_txt h4:after, .grop-cntdwn_evt_btn:before, .grop-dont_sectors_btn, .grop-vltrs_peple_intro,
.grop-vltrs_peple_promo_box,
.grop-ndspnsr_box_btn, .grop-tstimnl_text_box:before, .grop-hm3callout_area,
.grop-causelist_donate_btn,
.grop-donatewigt_btn,
.grop-hm-4cap_pb_btn, .grop-nwesl-fields input[type='text']:focus + input[type='submit'],
.grop-nwesl-fields input[type='email']:focus + input[type='submit'],
.grop-nwesl-fields input[type='submit']:hover, .grop-cntdwn_upevt_warp:hover .grop-cntdwn_upevt_icn, [class*="grop-sildcap_tag-"]:hover, [class*="grop-sildcap_tag-"]:focus,
.tagcloud a:hover,
.grop-side-widget .tagcloud a:focus, .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus, .grop-hm-3sildcapst3_btn:hover, .grop-hm-3sildcapst3_btn:focus,
#comments.comments-area a.comment-reply-link:hover,
#comments.comments-area a.comment-reply-link:focus, .grop-hm-3sildcapst3_btn.grop-btn_active, #grop_filters ul li.is-active,
#grop_filters ul li:hover, .grop-posts-pagination-warp .page-numbers:hover,
.grop-posts-pagination-warp .page-numbers:focus,
.woocommerce-pagination li .page-numbers.current,
.woocommerce-pagination li .page-numbers:hover,
.woocommerce-pagination li .page-numbers:focus, .grop-cusigldt_btn:before,
.grop-sigldt_btn:before, .grop-ab_msionrd_btn:before, .grop-ab_calut_warp, .grop-tmsl_intro, .grop-grop-oimtrm_btn, .grop-bvlist_icon, .grop-btn_submit, .grop-callout3_btn, .grop-evnt_list_item .grop-evnt_list_date span.grop-evnt_d, .grop-evensiglre_btn:before, .grop-dtls_title, .grop-model_header .close, .grop-offic_loc, .wpcf7 .grop-file-upload .grop-file-btn,
.wpcf7 input[type="submit"], .wpcf7 button, .grop-postrm_btn, ul.grop-author-social li a:hover, ul.grop-author-social li a:focus, #comments.comments-area #respond #commentform .form-submit .submit:hover, #comments.comments-area #respond #commentform .form-submit .submit:focus, #comments.comments-area #respond #commentform .form-submit .submit, .woocommerce span.onsale, .woocommerce a.button,
 .woocommerce a.button.alt, .woocommerce input.button.alt,
.woocommerce input.button, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus,
.woocommerce-cart .shipping-calculator-form button.button:hover,
.woocommerce-cart .shipping-calculator-form button.button:focus, .woocommerce .cart .button:hover, .woocommerce .cart .button:focus,
.woocommerce .cart input.button:hover,
.woocommerce .cart input.button:focus, .page-numbers.current, .grop-hm4srv_box_single,
.grop-pww_btn,
.grop-hm4_promo_area,
.grop-404_btn,
.grop-header_style3 .grop-header_navigations.grop-header_sticky_active,
.grop-header_style3 .grop-header_navigations.grop-header_sticky, .grop-hadrsrch_form_warp:before, .grop-header_style3 .grop-hadr_donate_btn:before,
.grop-header_style3 .grop-hadrsrch_form_warp, #grop-mainmenu > li.menu-item-has-children > ul.sub-menu:before,
.woocommerce button.button.alt {
  background-color: #f0c84c;
}
#comments.comments-area #respond #commentform .form-submit .submit:hover {
  background-color: #222222 !important;
}

.grop-header_info > ul li i, .grop-header_info > ul a i, .grop-header_social > ul li a:hover, .grop-header_social > ul li a:focus, #grop-mainmenu ul.sub-menu> li a:hover, #grop-mainmenu > li a:focus, .grop-hadr_search > a:hover, .grop-hadr_search > a:focus, .grop-hadr_shopping_cart > a:hover, .grop-hadr_shopping_cart > a:focus, #grop-mainmenu li.current-menu-ancestor > a, #grop-mainmenu ul.sub-menu li.current_page_item > a, #grop-mainmenu li.menu-item-has-children:hover:before, #grop-mainmenu > li.menu-item-has-children:hover > a, #grop-mainmenu > li.menu-item-has-children ul.sub-menu > li.menu-item-has-children:hover > a, #grop-mainmenu li.current-menu-ancestor:before, .grop-cause_title a:hover, .grop-cause_title a:focus,
.grop-ucoming_evnt_title a:hover,
#grop-mainmenu ul.sub-menu li.current-menu-ancestor > a,
.grop-ucoming_evnt_title a:focus, .grop-fetrd_cause_title a:hover, .grop-fetrd_cause_title a:focus, .help_single_itm_warp h4 a:hover, .help_single_itm_warp h4 a:focus, .grop-news_single h2 a:hover, .grop-news_single h2 a:focus, .grop-news_ps_title a:hover, .grop-news_ps_title a:focus,
.grop-news_pst_in a:hover,
.grop-news_pst_in a:focus,
.grop-news_pst_commnt a:hover,
.grop-news_pst_commnt a:focus,
.grop-copyright a:hover,
.grop-copyright a:focus, .grop-ftr_sngl_widget ul li a:hover, .grop-ftr_sngl_widget ul li a:focus, #grop-latest_tweets .twt-row a.user, .grop-header_info > ul a:hover, .grop-header_info > ul a:focus, .grop-ftr_wigt_locn span a:hover, .grop-ftr_wigt_locn span a:focus, .grop-dnatrsd_amount span, .grop-dnatrsd_name a:hover, .grop-dnatrsd_name a:focus, .grop-suprtus_tday_txt h4 a:hover, .grop-suprtus_tday_txt h4 a:focus,
.grop-cntdwn_upevt_txt h5 a:hover,
.grop-cntdwn_upevt_txt h5 a:focus,
.grop-side-widget > ul li a:hover,
.grop-side-widget > ul li a:focus, .grop-suess_strisst2_pst_txt h4 a:hover, .grop-suess_strisst2_pst_txt h4 a:focus,
.grop-suess_strisst2_txt h2 a:hover,
.grop-suess_strisst2_txt h2 a:focus,
.grop-missions_txt h4 a:hover,
.grop-missions_txt h4 a:focus,
.grop-vltrs_peple_intro_txt h4 a:hover,
.grop-vltrs_peple_intro_txt h4 a:focus,
.vltrs_peple_social ul li a:hover,
.vltrs_peple_social ul li a:focus,
.grop-tstimnl_prsn-title a:hover,
.grop-tstimnl_prsn-title a:focus,
.grop-grop-ndspnsr_box h2 a:hover,
.grop-grop-ndspnsr_box h2 a:focus,
.grop-upcomt_wigt_txt h5 a:hover,
.grop-upcomt_wigt_txt h5 a:focus,
.grop-urtcau_wigt_txt h5 a:hover,
.grop-urtcau_wigt_txt h5 a:focus,
.grop-tm_intro h4 a:hover,
.grop-tm_intro h4 a:focus,
.grop-tmsl_conctinfo a:hover,
.grop-tmsl_conctinfo a:focus,
.rop-tmsl_ci-so li a:hover,
.rop-tmsl_ci-so li a:focus,
.grop-ab_msions_txt h4 a:hover,
.grop-ab_msions_txt h4 a:focus,
.grop-oimt_cption a:hover,
.grop-oimt_cption a:focus,
.grop-bvlist_text h4 a:hover,
.grop-bvlist_text h4 a:focus,
.grop-galry_cption a:hover,
.grop-galry_cption a:focus,
.grop-offic_loc_txt h2 a:hover,
.grop-offic_loc_txt h2 a:focus,
.grop-cgettouch_locn a:hover,
.grop-cgettouch_locn a:focus,
.grop-offic_locfull a:hover,
.grop-offic_locfull a:focus,
.grop-post_meta a:hover,
.grop-post_meta a:focus,
a.grop-post_comnt:hover,
a.grop-post_comnt:focus,
.grop-pulrnws_wigt_warp a:hover,
.grop-pulrnws_wigt_warp a:focus,
a.author-name:hover,
a.author-name:focus,
#comments.comments-area .grop-comments-meta h4 a:hover,
#comments.comments-area .grop-comments-meta h4 a:focus,
.grop-sigl_content a:hover,
.grop-sigl_content a:focus,
#comments.comments-area .comment-content a:hover,
#comments.comments-area .comment-content a:focus,
.grop-projct_content_warp h4 a:hover,
.grop-projct_content_warp h4 a:focus,
.woocommerce .entry-summary .product_meta > span a:hover,
.woocommerce .entry-summary .product_meta > span a:focus,
.lost_password a:hover,
.lost_password a:focus,
#add_payment_method #payment .payment_method_paypal .about_paypal:hover,
#add_payment_method #payment .payment_method_paypal .about_paypal:focus,
.woocommerce-cart #payment .payment_method_paypal .about_paypal:hover,
.woocommerce-cart #payment .payment_method_paypal .about_paypal:focus,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal:hover,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal:focus,
.woocommerce-cart .woocommerce table.shop_table .cart_item td a:hover,
.woocommerce-cart .woocommerce table.shop_table .cart_item td a:focus,
.woocommerce-account a:hover,
.woocommerce-account a:focus,
.grop-hm4srv_txt h4 a:hover,
.grop-hm4srv_txt h4 a:focus, a.woocommerce-LoopProduct-link h3:hover, a.woocommerce-LoopProduct-link h3:focus, .grop-gallery-image a:hover .grop-galry_cption,
.grop-gallery-image a:focus .grop-galry_cption, #comments.comments-area #respond #reply-title small a:hover, #comments.comments-area #respond #reply-title small a:focus, .grop-wigt_search_form input[type="search"]:focus + .grop-wigt_search_submit,
.grop-wigt_search_submit:hover, .grop-cusigl_dtr_count i, .grop-cusigl_meta a:hover, .grop-cusigl_meta a:focus,
.grop-sigl_meta a:hover,
.grop-sigl_meta a:focus, ul.grop-ab_msions_list li a:hover, ul.grop-ab_msions_list li a:focus, ul.grop-ab_msions_list li i,
ul.grop-ab_msions_list li a i, .woocommerce .star-rating span:before,
.woocommerce p.stars a:before, .woocommerce-error a:hover, .woocommerce-error a:focus,
.woocommerce-info a:hover,
.woocommerce-info a:focus,
.woocommerce-message a:hover,
.woocommerce-message a:focus, .woocommerce a.remove:hover, .grop-rsd_amn span {
  color: #f0c84c;
}
.grop-header_style3 #grop-mainmenu li.current-menu-ancestor > a, .grop-header_style3 #grop-mainmenu li.current-menu-ancestor:before {
   color: #fff !important;
}

.tagcloud a:hover, .grop-side-widget .tagcloud a:focus, .grop-hm-3sildcapst3_btn:hover, .grop-hm-3sildcapst3_btn:focus,
#comments.comments-area a.comment-reply-link:hover,
#comments.comments-area a.comment-reply-link:focus, #comments.comments-area #respond #reply-title small a:hover, #comments.comments-area #respond #reply-title small a:focus, .grop-hm-3sildcapst3_btn.grop-btn_active, .grop-posts-pagination-warp .page-numbers:hover,
.grop-posts-pagination-warp .page-numbers:focus,
.woocommerce-pagination li .page-numbers.current,
.woocommerce-pagination li .page-numbers:hover,
.woocommerce-pagination li .page-numbers:focus, .woocommerce a.remove:hover, .woocommerce .cart .button:hover, .woocommerce .cart .button:focus,
.woocommerce .cart input.button:hover,
.woocommerce .cart input.button:focus {
  border-color: #f0c84c;
}

.help_single_itm_warp h4 a {
  color: #222222;
}

.grop-bvlist_single:nth-child(1) .grop-bvlist_icon {
  background-color: #F2E36A !important;
}

.grop-bvlist_single:nth-child(2) .grop-bvlist_icon {
  background-color: #FFCD01 !important;
}

.grop-bvlist_single:nth-child(3) .grop-bvlist_icon {
  background-color: #F3B45C !important;
}

.woocommerce-error,
.woocommerce-message {
  border-top: 3px solid #f0c84c;
}

.woocommerce a.remove:hover {
  background: transparent;
}
