/* @font-face {
  font-family: "Andalus";
  src: url("../../fonts/andalus.eot?") format("eot"),
    url("../../fonts/andalus.woff") format("woff"),
    url("../../fonts/andalus.ttf") format("truetype"),
    url("../../fonts/andalus.svg#Andalus") format("svg");
  font-weight: normal;
  font-style: normal;
} */
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #f0c84c !important;
}
.readmore-aun a {
  color: #f0c84c;
  cursor: pointer;
}
.readmore-aun a:hover {
  color: #f0c84c;
  cursor: pointer;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.errorspon {
  color: red;
  margin: 10px 0px;
  width: 100%;
  float: left;
  text-align: left;
}
.panel-default > .panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default > .panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
}

.panel-default > .panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default > .panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default > .panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}
.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}

.pageHeadingArea {
  background-image: url(../images/bg-1.jpg);
  padding: 30px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
  color: #fff;
}

.pageHeadingArea h1 {
  font-size: 45px;
}

.pageHeadingArea2 {
  background-color: #f0c84c;
  padding: 30px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
  color: #151515;
  text-align: center;
}

.pageHeadingArea2 h1 {
  font-size: 45px;
}

.page-content-area {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: justify;
}

.gap {
  display: block;
  position: relative;
  margin: 30px 0 30px 0;
  clear: both;
}

.gap:after {
  clear: both;
  content: '';
  display: table;
}

.gap-small {
  margin: 15px 0 15px 0;
}

.gap-mini {
  margin: 10px 0 10px 0;
}

.gap-big {
  margin: 60px 0 60px 0;
}

.gap-large {
  margin: 90px 0 90px 0;
}

.gap-top {
  margin-bottom: 0 !important;
}

.gap-bottom {
  margin-top: 0 !important;
}

.gap-border {
  border: 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #fff;
}

.themeBtn1 {
  background-color: #f0c84c;
  color: #151515;
  font-size: 16px;
  border: none;
  transition: all 0.5s ease;
  padding: 8px 15px;
  margin: auto;
  display: block;
}

.themeBtn1:hover {
  background-color: #d8ad29;
  color: #151515;
}

.themeBtn2 {
  background-color: #151515;
  color: #fff;
  font-size: 12px;
  border: none;
  transition: all 0.5s ease;
  padding: 13px 15px;
  width: 100%;
  border-radius: 5px;
}

.themeBtn2:hover {
  background-color: #2f2f2f;
  color: #ffffff;
}
.themeBtn2:focus {
  background-color: #2f2f2f;
  color: #ffffff;
}
.contact-social-media {
}

.contact-social-media li {
  background-color: #fff;
  margin: 0px 2px;
}

.contact-social-media a {
  color: #151515;
}

.previewImg {
  width: 100px !important;
  height: 100px !important;
  margin: 10px 0px;
}
.h4,
h4 {
  font-size: 18px;
}
.previewImg2 {
  width: 50px !important;
  height: 50px !important;
}

.projectImgPreview {
  width: 100%;
  height: 162px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 6px;
}

/*.grop-header_area {
    position: absolute !important;
    top: -45px;
}
.grop-header_navigations.grop-header_sticky{
    background: none !important;
}
#grop-mainmenu > li > a {
  color: #ffffff !important;
}
*/

.customSlider {
  height: 550px;
  transition: all 0.5s ease;
  margin-top: 45px;
}

.customSlider img {
  position: absolute;
  height: 550px;
  width: 100%;
}

.customSlider .contentArea {
  position: absolute;
  width: 80%;
  color: #ffffff;
  left: 5%;
}

.customSlider .title {
  padding: 80px 0 0 0px;
}

.customSlider .details {
  padding: 15px;
  text-transform: initial;
    font-size: 35px;
  font-weight: 900;
  /* word-spacing: 15px; */
  margin-top: 15%;
  margin-bottom: 35px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  /*height: 230px;*/
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 5px;
  display: inline-block;
}

.customSlider .donateButton {
  padding: 30px 0 0 0px;
}

.customSlider .btnNext {
  padding: 2px 15px;
  background-color: #00000054;
  border: none;
  position: absolute;
  right: 0px;
  color: #ffffff;
  font-size: 25px;
  height: 550px;
  transition: all 0.5s ease;
}

.customSlider .btnPrevious {
  padding: 2px 15px;
  background-color: #00000054;
  border: none;
  position: absolute;
  left: 0px;
  color: #ffffff;
  font-size: 25px;
  height: 550px;
  transition: all 0.5s ease;
}

.customSlider .btnNext:hover,
.customSlider .btnPrevious:hover {
  background-color: #101010ba;
}

.pie-legend {
  margin: 50px 0 0 0px;
}

.littleBox {
  width: 15px !important;
  height: 15px;
  margin-top: 10px;
}

.userProfileImage {
  height: 100px;
  width: 100px;
  margin: 10px 0px;
  border-radius: 50%;
  border: 2px solid #f0c84c;
}

.userProfileImageForHeader {
  height: 20px;
  width: 10px;
  margin: 0px 0px;
  border-radius: 50%;
  border: 2px solid #f0c84c;
}

.userProfileImageArea {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.userProfileImageArea:hover .edit {
  display: block;
  text-align: center;
}

.edit {
  position: relative;
  left: 0px;
  top: -110px;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 55px;
  height: 100px;
  width: 100px;
  padding-top: 27px;
  line-height: 20px;
}

.edit a {
  color: #f8f8f8 !important;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff !important;
  background-color: #4e4e4e;
}

.activeUserMenu {
  color: #fff !important;
  background-color: #151515;
}

.boxPurple {
  background-color: #7b466b !important;
}

.boxPink {
  background-color: #d6485a !important;
}

.boxNavyBlue {
  background-color: #272941 !important;
}

.boxYellow {
  background-color: #64b450 !important;
}

.boxOrange {
  background-color: #ea7352 !important;
}

.boxRed2 {
  background-color: #d70025 !important;
}

.boxGreen {
  background-color: #21b400 !important;
}

.boxPurple, .boxPink, .boxNavyBlue, .boxYellow, .boxOrange, .boxGreen {
  color: #fff !important;
}
.boxhght {
  height: 139px;
}

.boxhght h2{
  margin: 0px;
}

.small-box {
  border-radius: 5px !important;
}

.suggestionBox {
  background-color: #1a1f20;
  border: 1px solid #1a1f20;
  min-height: 211px;
}

.suggestionBox .txt-yellow {
  color: #f0c84c;
}

.suggestionBox p {
  color: white;
  font-size: 11px;
}

.suggestionBox .grop-btn-donate {
  /*width: 42% !important;
  text-align: right;*/
}

.suggestionBox .grop-vltrs_peple_intro_txt {
  min-height: 128px;
}

.suggestionBoxImg {
  height: 235px !important;
}

.studentProfileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.studentProfiletable {
  font-weight: 300;
  font-size: 12px;
  border: none;
  margin-top: 0px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-56 {
  margin-top: 56px;
}
.mv-20 {
  margin: 20px 0 !important;
}
.faqsearchicon {
  position: relative;
  margin: 10px 0;
}
.faqsearchicon input {
  padding-right: 30px;
}
.faqsearchicon::after {
  content: url("../images/search.png");
  position: absolute;
  right: 25px;
  top: 8px;
}

.studentProfiletable tr:nth-child(even),
.studentProfiletable tr:nth-child(even):hover {
  background-color: #f0c84c !important;
}

.studentProfiletable tr td:first-child {
  border: none;
  border-right: 1px solid #cccccc;
  padding: 6px 10% 4px 10%;
  width: 50%;
}

.studentProfiletable tr td:last-child {
  border: none;
  padding: 6px 0px 4px 19%;
  width: 50%;
}

nav.sidebar {
  z-index: 99 !important;
}

.newsletterBox {
  background-color: #2b2b2b;
  border-radius: 15px;
  /*   border: 1px solid #000;*/
  text-align: center;
  padding: 15px;
}

.newsletterBox input, .newsletterBox select {
  background: none;
  border-color: #f0c84b;
  color: #717171;
}

.newsletterBox button {
  color: #2b2b2b;
}
.newsletterBox .btn:hover, .newsletterBox .btn:active, .newsletterBox .btn:hover, .newsletterBox .btn:focus{color: #000 !important;}
.btnewsl .btn:hover, .btnewsl .btn:active, .btnewsl .btn:hover, .btnewsl .btn:focus{color: #000 !important;}
#grop-mainmenu > li:last-child{float: right;}
.newsletterPopupBox {
  position: absolute;
  right: 0px;    
  top: 102%;
  display: block;
  width: 200px;
  z-index: 800;
}

.grop-btn-donateSlider {
  border-radius: 8px !important;
  background: #f0c84b url(../../images/icons/donate-now-icon.png) -1px -2px no-repeat;
  background-size: 33px;
  color: #222;
  display: inline-block;
  height: 33px;
  line-height: 35px;
  padding: 0px 0px 0px 32px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-style: normal;
  font-size: 11px;
  font-weight: 600 !important;
  text-align: center;
  margin: 0px;
  width: 121px ;
}
.grop-btn-donateSlider2 {
  border-radius: 8px !important;
  background: #f0c84b url(../../images/icons/donate-now-icon.png) -1px -2px no-repeat;
  background-size: 33px;
  color: #222;
  display: inline-block;
  height: 33px;
  line-height: 35px;
  padding: 0px 0px 0px 32px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-style: normal;
  font-size: 11px;
  font-weight: 600 !important;
  text-align: center;
  margin: 0px;
  width: 121px ;
}

.grop-btn-donateSlider:hover, .grop-btn-donateSlider2:hover {
  color: #000 !important;
}

.grop-team-single-item .grop-btn-donate {
  /*width: 65%;*/
}

.grop-team-single-item {
  padding-left: 3px;
  padding-right: 3px;
}

.grop-team-single-item {
  margin-bottom: 0px;
}

.grop-vltrs_peple_intro_txt {
  padding-bottom: 16px;
  height: 70px !important;
}

.centered {
  text-align: center;
  font-size: 0;
}

.centered > div {
  float: none;
  /*display: inline-block;*/
  display: inline-flex;
  text-align: left;
  font-size: 13px;
}

.lineSeperator {
  border: 1px solid #CECECE;
  margin-bottom: 50px;
}

.progress-content-outter {
  height: 20px;
  background-color: black !important;
  border-radius: 11px;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

.whiteMenu li a {
   color: #ffffff !important; 
}

.whiteMenu li a:hover {
  color: #f0c84c !important;
}

.reportFilterArea {
  padding: 10px;
}

.reportFilterArea .row {
  padding: 2px 0 2px 0px;
}

@media print {
  #printarea {
      display: block;
  }
}

.dashboardCounterBoxes {
  width: 20%;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.dashboardCounterBoxes:first-child {
  padding-left: 0px;
}

.dashboardCounterBoxes:last-child {
  padding-right: 0px;
}

.pageHeadingAreaImg {
  padding: 7%;
  /*    background-attachment: fixed;
      background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  /*height: 236px;*/
  /* width: 1138px;*/
}

.pageHeadingAreaImg h1 {
  font-size: 27px;
  color: white;
  margin-left: 0px;
  margin-top: 0px;
  /* text-transform: uppercase; */
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
}
/* custom attach file css*/
.slcnew {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  width: 100%;
}
.file input {
  /* min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0; */
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border-radius: .25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 4px;
  font-size: 14px;
}
.file-custom:before {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "";
  background-image: url(/images/attach-file.jpg);
  background-repeat: no-repeat ;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  border-radius: 0 .25rem .25rem 0;
}
.file-custom:after {
  content: "Attach Photo (Optional)";
}


@media (max-width:500px) and (min-width:320px){
	.header a{top: 8%; margin-left: 10%;}
}

.file-custom-cv {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border-radius: .25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 4px;
  font-size: 14px;
}
.file-custom-cv:before {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "";
  background-image: url(/images/attach-file.jpg);
  background-repeat: no-repeat ;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  border-radius: 0 .25rem .25rem 0;
}
.file-custom-cv:after {
  content: "Attach CV";
}

/**/

.donarProfileBanner {
  background-image: url(/images/donor-profile.png);
  width: 100%;
  border-radius: 0px;
  margin-bottom: 50px;
  display: none;
}
.abtbanner{
  background-image:url(/images/about-us-banner.png);
  margin: 10px 0px;
}
.prjbanner{
  background-image:url(/images/project-banner.jpg);
  margin: 10px 0px 0px 0px;
  /* width: 98%; */
}
.orphnsbanner{
  background-image:url(/images/orphans-banner.jpg);
  margin: 10px 0px;
}
.religiousbanner{
  background-image:url(/images/islamic-payments.jpg);
  margin: 10px 0px;
}
.sadqabanner{
  background-image:url(/images/sadaqa-banner.jpg);
  margin: 10px 0px;
}
.contactbanner{
  background-image:url(/images/contact-us.jpg);
  margin: 10px 0px;
}
.project-list-image {
  border-radius: 10px;
  /*width: 377.65px ;
  height: 251.77px;*/
  margin-bottom: 10px;
}
.religiouspayment-list-image{
  width: 100%;
  height: 251px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.pagesPostImage {
  width: 100%;
  min-height: 130px;
  border-radius: 10px;
  float: left;
  margin: 0 10px 0px 0;
}

.pagesPostImage2 {
  width: 100%;
  min-height: 130px;
  border-radius: 10px;
  margin: 0 20px 5px 0;
  background-color: white;
}

.pagesPostImageText {
  color: #777777;
}

.pagesPostImageText2 {
  /* color: #777777; */
  text-align: justify;
}

.pagesPostImageDate {
  display: block;
  margin-bottom: 8px;
}

.pagesPostHeading {
  display: block;
  color: #000 !important;
  line-height: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.pagesPostDescription {
  line-height: 16px;
}

.pagination {
  text-align: center;
}

.pagination button {
  background: none;
  border: none;
  color: #777777;
}

.pagination a {
  color: #777777;
  padding: 0px 8px;
  cursor: pointer;
}

.pagination button:hover, .pagination a:hover, .pagination .active {
  font-weight: 500;
  color: #151515;
}

.text-dark {
  color: #000 !important;
}

#grop-mainmenu > li.menu-item-has-children {
  margin-right: 0px;
}

#grop-mainmenu > li.menu-item-has-children > a:before {
  display: none;
}

#grop-mainmenu > li.menu-item-has-children > a .fa {
  font-size: 10px;
  margin-left: 2px;
  vertical-align: unset;
}

.galleryArea video, .galleryArea img {
  cursor: pointer;
}

.galleryArea .fixedSize {
  width: 200px;
  height: 169px;
  margin: 5px;
  /* background-image:url(/images/youtube-icon.jpg);
  background-repeat: no-repeat; */
  border-radius: 15px;
  /* background-size:86% ; */
  float: left;
}

.galleryArea video {
  vertical-align: middle;
}

.readMore {
  font-size: 12px;
  color: #f0c84c !important;
}

.socialButtons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  float: right;
}
.socialnaj{margin: 0px 0px 0px 15px;}
.socialButtons div {
  /*width: 40px;*/
  text-align: center;
  float: right;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

.socialButtons div small, .socialButtons div i{
  display: block;
  color: black;
}

.loadingArea {
  z-index: 20000 !important;
  position: absolute;
  font-weight: 800;
  background: rgba(255, 255, 255, 0.35);
  width: 100%;
  height: 100%;
  color: #232323;
  font-family: monospace !important;
  text-align: center;
  padding-top: 35%;
}

.loadingArea img {
  width: 50px;
}

.loadingArea span {
  font-size: 16px;
}

.contactbanner h1 {
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
}
.shareButtons .showSocialIconsL {
  position: absolute;
  left: 1%;
  bottom: 100%;
  background: #0000000d;
  padding-top: 10px;
  display: none;
  transition: all 0.5s ease;
  z-index: 2000;
}

.shareButtons .showSocialIconsR {
  position: absolute;
  bottom: 100%;
  background: #f2f2f2;
  padding-top: 10px;
  display: none;
  transition: all 0.5s ease;
  z-index: 2000;
  border-radius: 8px;
  left: -11px;
}

.shareButtons:hover .showSocialIconsL, .shareButtons:hover .showSocialIconsR {
  display: inline;
}
.project-detail-banner > h1, .ziyarah-banner > h1 {
  font-size: 24px;
  color: white;
  margin-left: 0px;
  margin-top: 0px;
  /*text-transform: uppercase;*/
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
}
.printhed{display: none;}
@page {
   /* size: 210mm 297mm;  
   margin: 20mm 0mm; */
}
@media print {
  .printhed h2{
      margin: 0px 0px 0px 0px;
  }
  .grop-header_area{
      display:none
  }
  .resheight, .resheight p:first-child{
      position:relative;
      display:table;
      table-layout:fixed;
      height:auto;
      box-sizing: border-box;
      page-break-before: avoid !important;
  }
  .resheight p, #printableArea span{
      line-height: 30px;
      padding-top: 15px;
  }
  .resheight p .pagebreak{
      display: none !important;
  }
  /* .resheight::after{
      display: block;
      content: '';
      height: 60px;
  } */
  /* @page {
      margin: 500px 0px 1000px 0px;
  } */
  html, body {
      height: 100% !important;
  }
  
  #printableArea * { visibility: visible; }
  .project-detail-banner{visibility: hidden; display: none;}
  .abtbanner{visibility: hidden; display: none;}
  .bellNotification {visibility: hidden; display: none;}
  .printhed{visibility: visible; display: block; margin-left: 0px; }
  .printhed ul{visibility: visible; display: block; padding: 0px; margin: 0px; text-align: center; }
  .printhed li{visibility: visible; display: inline; padding: 5px 0px 0px 0px; margin: 0px; float: left; width: 100%; border-top: 1px solid #f0c84c; }
  .footprint{visibility: visible;   display: block; width: 100%; margin: 15px 0px 0px 0px; 
      padding: 10px 0px; float:left;  text-align: center; border-top: 1px solid #000;
  }
  .grop-logo{display: visible; display: block;}
  .grop-header_top{visibility: hidden; display: none;}
  .printsc{display: none; visibility: hidden;}
  .project-calculator{display: none; visibility: hidden;}
  .related-projects{display: none; visibility: hidden;}
  .dpnonesdesk{display: none; visibility: hidden;}
  .dpnones{display: none; visibility: hidden;}
  .grop-footer_top_widgets_warp{display: none; visibility: hidden;}
  .socialButtons {visibility: hidden; display: none;}    
  .grop-footer-bottom{visibility: hidden; display: none;}
  #menu{visibility: hidden; display: none;}
  /* .printhed::after {visibility: visible; display: block; left: 5%;  content: url('../images/bar-footer.jpg'); position: fixed; bottom: 0; text-align: center; left: 0px; } */
  @page { margin: 10px 10px 20px 10px; }
  footer {  position:fixed; text-align: center; bottom: 0px; display: block; margin-bottom: 3px; margin-left: 0px; float: footnote; background: #fff !important;}
  .arposleft {visibility: hidden; display: none;}    
  ul li{display: inline; list-style: disc; background: #000; color: #fff; margin: 2px 5px; padding: 1px;}
  .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
      border-top: 1px solid #f4f4f4;
  }
  .table>thead>tr>th {
      border-bottom: 2px solid #f4f4f4;
      text-align: left !important;
  }
  table {
      margin-bottom: 20px;
      max-width: 100%;
      width: 100%;
      text-align: center;
      border: 1px solid #ececec;
  }
  table td {
      vertical-align: top;
      padding: 10px 8px;
      line-height: 27px !important;
      font-weight: 500;
      text-align: left;
      letter-spacing: 0.2px;
      /* line-height: 1.42857; */
      border-bottom: 1px solid #ececec;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
  }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
}
@media print {
  footer {page-break-after: always; width: 100%; background: #fff !important;}
}
.form-control, .btn {
  border-radius: 5px !important;
  height: auto !important;
}

/* css for remove cart button fadeout effect control start */
.removeCart {
  color: #f0c84c;
  background-color: #2b2b2b;
  padding: 6px 10px;
  height: auto;
  border: solid 3px #f0c84c;
  border-radius: 2px;
}
.removeCart:hover, .removeCart:focus{
  color: #f0c84c;
  background-color: #2b2b2b;
  padding: 6px 10px;
  border: solid 1px #f0c84c;
}
/* css for remove cart button fadeout effect control end*/

.inputWithIcon {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-right: 0px;
}
/* @media print {
@supports (-webkit-overflow-scrolling: touch) {
  footer {  position: fixed; left:7%; height: 700px; top: 510px;  page-break-after: always; }
}
} */
/*

.input-group .input-group-addon {
  border-color: #d2d6de !important;
  background-color: #ffffff !important;
}

.input-group.date .input-group-addon i {
  color: #f0c84b !important;
}*/
.box-body {

}

.boxPink h2, .boxNavyBlue h2, .boxYellow h2, .boxOrange h2, .boxPurple h2 {
  font-size: 16px;
}

.descriptionImage {
  width: 600px;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.ssk {
  border-radius: 20px !important;
}

.sharingButtons {
  border: 1px solid #CECECE;
  margin-bottom: 0px;
  padding: 20px 0px;
  margin-top: 15px;
  border-right: 0px;
  border-left: 0px;
}

.hideDiv {
  display: none;
}

.box-body .readMore:hover {
  color: #464546;
}

.menuSeperator {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.grop-header_info .dropdown-menu {
  min-width: 85px;
  right: 20px;
  left: auto;
  top: 35px;
  border-radius: 5px;
  padding: 2px 2px !important;
}

.grop-header_info ul li a {
  color: #ffffff !important;
}

.grop-header_info .icon {
  color: #ffffff !important;
  font-size: 10px;
  font-weight: 300;
  cursor: pointer;
  vertical-align: text-bottom;
  margin-left: 0px;
}

.grop-header_info ul li ul li a {
  color: #3d3e3f !important;
  padding: 3px 5px;
  border-radius: 5px;
}

.grop-header_info ul li ul li a:hover {
  color: #ffffff !important;
  background-color: #3d3e3f !important;
}

.currencyIconItem {
  margin: 3px 0 0 0;
}

.currencyIcon {
  background-color: #f0c84b;
  color: #28282a;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 15px;
  margin-right: 3px;
}
img.fr-fin.fr-dib{
  /* padding: 0px !important;
  border-radius: 5px; */
  margin: 0 auto;
}
.chat {
  position: absolute;
  top: 90px;
  left: 55px;
}

.newsletterPopupBtn {
  padding: 0px 15px;
  margin-left: 10px;
}

.box {
  box-shadow: none !important;
}

.grop-header_top {
  direction: ltr !important;
}

#featuredCampaignButton a {
  width: 11%;
}

.fastDonationWidget {
  background: #464546 !important;
  color: #f0c84c;
}

.fastDonationWidget .form-control {
  background: #464546;
  border: 1px solid #f0c84c;
  color: #CCCBCB;
  -webkit-padding-end: 30px !important;
  resize: none;
}

input#txtFromDate {
  border-radius: 0px 5px 5px 0px !important;
}

.type-select-fr
{
  -webkit-padding-start: 5px !important; 
}

.fastDonationWidget select {
  background: #464546 url(../images/select-arrow-2.png) no-repeat scroll 96% center !important;
  -webkit-appearance: none;
  -moz-appearance: none;

}

.fastDonationWidget .nav-tabs > li.active > a, .fastDonationWidget .nav-tabs > li.active > a:focus, .fastDonationWidget .nav-tabs > li.active > a:hover {
  color: #f0c84c;
  cursor: default;
  background: #807c7c;
  border: 1px solid #464546;
}

.grop-hadrsrch_form {
  top: -25px;
  right: -18px;
}

.fastDonationWidget .nav > li > a:hover, .fastDonationWidget .nav > li > a:active, .fastDonationWidget .nav > li > a:focus {
  color: #f0c84c;
  background: #807c7c;
  border: 1px solid #464546;
}

.fastDonationWidget #tabData .nav-tabs {
  border-bottom: 0px solid #ddd;
  cursor: pointer;
}

.fastDonationWidget .nav-tabs {
  border-bottom: 0px solid #ddd;
}

.navbar-default {
  border-radius: 5px !important;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-default .navbar-brand {
  color: #151515;
  font-size: 14px;
  float: none !important; text-align: center;
}

.donorMenuBottom {
  padding: 10px;
}

.donorMenuBottom img {
  display: block;
  width: 25px;
  float: left;
}

.donorMenuBottom p {
  margin-left: 40px;
  color: #9e9e9e;
  font-size: 12px;
  line-height: 18px;
  /*text-align: justify;*/

}

.customBox .box {
  height: 410px;
}

.customBox .box .box-header {
 height: 73px;
}

.customBox .box .box-body {
  /*height: 375px;*/
}

.customBox.box .box-body p {
  /*height: 100px;*/
}

.tHeaderTxtSmall {
  font-size: 10px;
  color: white;
}

table td table td {
  background: none !important;
  border: none;
  font-size: 11px;
}

table td table {
  margin: 0px;
  border: none !important;
}

.bk-light {
  background-color: #efefef;
}

table a {
  color: #0c7de6 !important;
  text-decoration: underline;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.focus, .btn-primary:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #f0c84c;
  border-color: #f0c84c;
}
.hgthome{    margin-top: 100px;
  padding-right: 24px;
}
@media screen and (max-width:600px) {
  .hgthome {
      margin-top: 0px;
      padding-right: 0px;    }
  
}
.bigCheck input[type="checkbox"] {
  width: 22px;
  height: 14px;
}

.bigCheck p {
  font-size: 13px;
  margin-top: 0px;
}

.bigRadio input[type="radio"] {
  width: 22px;
  height: 22px;
}

.bigRadio p {
  font-size: 13px;
  margin-top: -12px;
}

button {
  font-weight: 500 !important;
}

.related-projects {

}

.related-projects h4, h5 {
  font-weight: bold;
  font-size: 15px;
}

.related-projects .project-post {
  margin: 15px 0px;
}

.related-projects .project-post .img-area {
  margin-bottom: 10px;
}

.related-projects .project-post p {
  text-align: justify;
}

.commentTxt {
  color: #ffffff;
  font-size: 13px;
  text-align: justify;
  width: 100%;
  background-color: #807e80;
  float: left;
  border-radius: 10px 0;
  border: 1px solid #f0c84c;
  padding: 12px;
}

/******* MOBILE MAIN MENU ******/
.mobileMainMenu {
  background: #ffffff;
  width: 100%;
  z-index: 999;
  display: none;
}

.mobileMainMenu #grop-mainmenu > li {
  display: block;
}

.mobileMainMenu #grop-mainmenu > li:hover, .mobileMainMenu #grop-mainmenu > li:active, .mobileMainMenu #grop-mainmenu > li:focus {
  background: #949494;
}

.mobileMainMenu #grop-mainmenu > li a {
  color: #222222 !important;
  padding: 10px 10px !important;
}

.mobileMainMenu #grop-mainmenu > li.menu-item-has-children > a .fa {
  float: right !important;
}

.mobileMainMenu #grop-mainmenu > li .sub-menu {
  margin-top: 0px !important;
  width: 100%;
  background-color: #3d3e3f;
}

.mobileMainMenu #grop-mainmenu > li .sub-menu li {

}

.mobileMainMenu #grop-mainmenu > li .sub-menu li a {
  color: #ffffff !important;
  background: #3d3e3f;
}

.mobileMainMenu #grop-mainmenu > li .sub-menu li a:hover, .mobileMainMenu #grop-mainmenu > li .sub-menu li a:active, .mobileMainMenu #grop-mainmenu > li .sub-menu li a:focus {
  color: #3d3e3f !important;
  background: #949494;
}

.vc_row {
  margin-left: 0px;
  margin-right: 0px;
}

.grop-callout2_text a {
  color: #3d3e3f;
}

.vc_custom_1505214233080, .vc_custom_1507619222996 {
  margin-bottom: 50px !important;
  margin-top: 25px !important;
}

.videoModal {
  width: 300px;
}

.grop-caudetai_title {
  font-size: 14px;
  color: black;
  font-weight: 500 !important;
}

.swal2-container.swal2-shown {
  background-color: rgba(255, 255, 255, 0.56) !important;
}

.swal2-popup {
  border-radius: 15px !important;
  background: #252526 !important;
  color: #ffffff !important;
}

.swal2-popup .swal2-styled {
  background-color: #f0c84b !important;
  border-color: #f0c84b !important;
  color: #222 !important;
  border-radius: 5px !important;
  font-style: normal;
  font-size: 18px !important;
  margin: 0px !important;
  padding: 6px 48px !important;
  outline: none !important;
  box-shadow: none !important;
}
.swal2-popup .swal2-buttonswrapper{
  justify-content: space-around!important;
}
.swal2-popup .swal2-styled:focus {
  background-color: #f0c84b !important;
}

.swal2-popup .swal2-styled:hover, .swal2-popup .swal2-styled:active {
  background-color: #d6b13e !important;
  border-left-color: rgb(240, 200, 76);
  border-right-color: rgb(240, 200, 76);
}

.swal2-container {
  z-index: 12000 !important;
}

.swal2-icon {
  margin: 5px auto 15px !important;
}

.swal2-icon.swal2-warning, .swal2-icon.swal2-error, .swal2-icon.swal2-success, .swal2-icon.swal2-info, .swal2-icon.swal2-question {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #252526 !important;
  border-color: #252526 !important;
  font-size: 65px !important;
  font-weight: 800;
  background-color: #f0c84b;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #252526 !important;
}

.swal2-icon.swal2-error [class^='swal2-x-mark-line'],
.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #252526 !important;
  height: 8px !important;
}

.swal2-success-fix, .swal2-success-circular-line-right, .swal2-success-circular-line-left {
  display: none !important;
}

.swal2-popup .swal2-title {
  color: #f1f1f1 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  font-family: Arial, sans-serif;
  line-height: 28px;
  text-transform: capitalize;
}

.customModalContent {
}

.customModalContent .modal-content {
  background-color: #252526 !important;
  color: #fff !important;
  border-radius: 5px;
}

.customModalContent .modal-content table, .customModalContent .modal-content table thead th, .customModalContent .modal-content table tbody td {
  border: none;
  text-align: center;
}

.customModalContent .modal-content table thead th {
  color: #252526 !important;
  /*border-right: 1px solid #252526;*/
  font-size: 12px !important;
  text-transform: capitalize;
  vertical-align: middle;
  font-weight: 500;
}
/* .overflowTable th::after{
  content:'|';
} */
.customModalContent .modal-content table tbody td {
  background: #1f1f1f;
  color: #909090;
  font-size: 11px !important;
  text-transform: capitalize;
  vertical-align: middle;
}

.customModalContent .modal-content table tbody button {
  color: #fff;
  background-color: #909090;
  padding: 3px 25px;
  border: none;
}
.carousel-prev {
  top: 75% !important;
}
.carousel-next {
  top: 75% !important;
}
.carousel-indicators li {
  border: none !important;
  background-color: hsl(0, 0%, 35%);
}

.carousel-indicators .active {
  background-color: #f0c84c !important;
}

#galleryContent {
  background-color: #3d3e3f;
  border-radius: 4px;
}

#galleryContent .fullWidth {
  width: 100%;
}

.checkoutArea {
  background: #3d3e3f;
  color: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
}
@media screen and (max-width: 600px) {
  .checkoutArea {
      width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .content-aun-mobile{
      display: inline;
      /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: 13px;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
  }
}


@media screen and (max-width: 600px) {
  .grop-footer-socail li{
      margin: 0 0 0 4px;
  }

  .mobile-footer{
      max-width: 100%;
      text-align: justify;
      margin: 0% 30px 0px 30px;
  }

 .customModalContent {
  overflow: auto;
  width: 100%;
  margin: 5px 0px !important;
  }
}

.checkoutArea .heading img {
  margin-right: 15px;
  vertical-align: middle;
  width: 40px;
}

.checkoutArea input, .checkoutArea select {
  background: none;
  color: #CCCBCB !important;
  border-color: #f0c84c;
  border-radius: 5px;
  font-size: 12px;
  /* -webkit-appearance: none; */
}

.checkoutArea input:focus, .checkoutArea select:focus {
  -moz-box-shadow: inset 0 0 15px #191919;
  -webkit-box-shadow: inset 0 0 15px #191919;
  box-shadow: inset 0 0 15px #191919;
}

.checkoutArea input, .checkoutArea select option {
  color: #3d3e3f;
}

.checkoutArea select, .checkoutArea .grop-select-control {
  background: url(../images/select-arrow-2.png) no-repeat scroll 97% center !important;
   -webkit-appearance: none;
}

.checkoutArea label {
  color: #f0c84c;
  font-size: 11px;
}

.checkoutArea .currency {
  border-radius: 5px !important;
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 9px;
  font-size: 20px;
  border: 1px solid #f0c84c;
  color: #f0c84c;
  text-align: center;
}

.checkoutArea .grop-btn-donate {
  font-weight: 600 !important;
  background-size: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  margin: 0px;
  width: 100%;
}

.checkoutArea .input-group input {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-right: none !important;
  color: #f0c84c;
}

.checkoutArea .input-group-addon, .checkoutArea .input-group .input-group-addon {
  background: none !important;
}

.checkoutArea .input-group-addon .glyphicon {
  color: #f0c84c !important;
}

.alert-gray {
  background-color: #b3b3b3 !important;
  border-color: #b3b3b3 !important;
  padding: 5px;
  font-size: 10px;
}

.checkoutArea .addNewCard {
  font-size: 12px;
  margin: 10px 5px;
  color: #f0c84c;
}

.checkoutArea .addNewCard button {
  font-size: 12px;
  margin: 0px 5px;
  background: #f0c84c;
  border: none;
  color: #3d3e3f;
  border-radius: 50%;
  padding: 2px 5px 0px 5px;
}

.checkoutArea .modal-content {
  background-color: #2b2b2b;
}

.modal-content {
  border-radius: 10px !important;
}

.globalLogin .login-model
{
    max-width: 350px;
    margin: 0 auto;
}

.globalLogin .modal-content {
  background-color: #2b2b2b;
}
.globalLogin .modal-header {
  border: none;
  color: #fff;
  /* text-transform: uppercase; */
  padding-left: 0;
}

.globalLogin .modal-header button {
  color: #fff;
  opacity: 1;
}

.globalLogin .form-group{
  font-size: 12px;
}

.globalLogin input, .checkoutArea select {
  background: none;
  color: #CCCBCB !important;
  border-color: #f0c84c;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: none;
}
.brdrline{border:1px solid #CECECE;margin-bottom: 0px; margin-top: 0px;}
.globalLogin input::placeholder {
  color: #ccc !important;
}

.globalLogin input:focus, .checkoutArea select:focus {
  -moz-box-shadow: inset 0 0 15px #191919;
  -webkit-box-shadow: inset 0 0 15px #191919;
  box-shadow: inset 0 0 15px #191919;
}

.globalLogin .modal-body button, .globalLogin .grop-btn-login {
  border-radius: 8px !important;

  background-size: 33px;
  color: #222;
  display: inline-block;
  height: 33px;
  line-height: 35px;
  padding: 0px 0px 0px 32px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-style: normal;
  font-size: 11px;
  font-weight: 600 !important;
  text-align: center;
  margin: 0px;
  width: 121px ;
}

.globalLogin .lineBreak {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #3e3e3e;
  line-height: 0.1em;
  margin: 20px 0px;
}

.globalLogin .lineBreak span {
  background: #2b2b2b;
  padding: 0 10px;
  color: white;
  font-size: 12px;
}

.globalLogin .btn-social2 {
  vertical-align: middle;
  line-height: 13px;
  font-size: 13px;
  padding: 6px 8px;
  border: none;
  text-transform: uppercase;
}

.globalLogin .btn-social2 .fa {
  line-height: 20px;
  font-size: 20px;
  vertical-align: sub;
  padding-right: 5px;
}

.globalLogin .note {
  margin-top: 20px;
  color: #ffffff;
}

.globalLogin .note a {
  color: #f0c84c;
}

.globalLogin .warning {
  color: #CCCBCB;
  font-size: 10px;
  font-style: italic;
}

.warning{
  color: #CCCBCB;
  font-size: 10px;
  font-style: italic;
}

.headerLoginPopup {
  width: 275px;
  padding: 10px;
}

.headerLoginPopup .btnSwitch button {
  font-size: 12px;
  font-weight: 400 !important;
  border: none;
  padding: 8px 15px;
  text-transform: uppercase;
}

.headerLoginPopup .warning {
  color: #555;
  font-size: 8px;
  line-height: 15px;
  font-style: italic;
}

.headerLoginPopup .btn-social2 {
  vertical-align: middle;
  line-height: 10px;
  font-size: 10px !important;
  padding: 6px 8px;
  border: none;
  text-transform: uppercase;
}

.headerLoginPopup .btn-social2 .fa {
  line-height: 16px;
  font-size: 16px;
  vertical-align: sub;
  padding-right: 0px;
  color: #ffffff;
  margin-right: 2px;
}

.headerLoginPopup .lineBreak {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #555;
  line-height: 0.1em;
  margin: 15px 0px;
}

.headerLoginPopup .lineBreak span {
  background: #ffffff;
  padding: 0 10px;
  color: #555;
  font-size: 12px;
}

.headerLoginPopup .forgotPass, .headerLoginPopup .forgotPass a {
  color: #555 !important;
  font-size: 10px !important;
  vertical-align: sub;
}

.headerLoginPopup .forgotPass input[type=checkbox], .headerLoginPopup input[type=radio] {
  vertical-align: sub;
}

.headerLoginPopup .form-control {
  font-size: 11px;
  line-height: 20px;
}

.headerLoginPopup .form-group {
  margin-bottom: 5px;
  font-size: 11px;
}

/*input[required]::-webkit-input-placeholder:after {
  content: " *";
  color: red;
}

input[required]:-moz-placeholder:after {
  content: " *";
  color: red;
}

input[required]:-ms-input-placeholder:after {
  content: " *";
  color: red;
}

.form-group{
  position: relative;
}
.form-group::after{
  content: '*';
  position: absolute;
  top: 3px;
  left: 46px;
  color: #f00
}*/

.required {
  color: red !important;
  font-size: 10px;
  padding-left: 2px;
  vertical-align: top;
}

.tableCurved table {
  border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border: none !important;
}

.tableCurved table thead tr:first-child td:first-child {
  border-top-left-radius: 15px !important;
  border-left: none !important;
}

.tableCurved table thead tr:first-child td:last-child {
  border-top-right-radius: 15px !important;
  border-right: none !important;
}

.tableCurved table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px !important;
  border-left: none !important;
  border-bottom: none !important;
}

.tableCurved table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px !important;
  border-right: none !important;
  border-bottom: none !important;
}
/* .grop-list_unstyled li:nth-last-child(1){float: right !important;} */
.boxPurple, .boxPink, .boxNavyBlue, .boxOrange, .inner {
  padding: 0px;
  min-height: 111px;
}
i.fa.fa-chevron-right {
  float: right;
}
.bellNotification {
  position: fixed;
  right: 13px;
  top: 375px;
  background-color: #171717;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 55px;
  cursor: pointer;
  z-index: 99;
}

.bellNotification .fa {
  color: #f0c84c;
  font-size: 20px;
  line-height: 30px;
}

.bellNotification .label {
  position: absolute;
  left: 20px;
  top: 2px;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 9px;
}

.bellNotification:hover {
  background-color: #4c4c4c;
}

.carousel-indicatorsDiv {
  width: 100%;
  top: 92%;
  text-align: center;
}

.carousel-indicators {
  position: relative !important;
  bottom: 10px;
  z-index: 1;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.noAction {
  pointer-events: none;
}

.tableOverflow {
  display: block;
  overflow: auto;
}

.txtTranform:first-letter, .txtTranform option:first-letter {
  text-transform: uppercase !important;
}

.txtTranform {
  text-transform: lowercase;
}
.dropdown-menu li{
  padding: 1px 5px 1px 5px;
}
.dropdown-menu li input{
  margin-right: 5px;
}

.dropdown-menu li input:hover{
  padding: 5px;
  background-color: #efefef;
}

#cart table td{
  vertical-align: middle !important;
}

.form-group {
  position: relative;
}
.form-group .inputPlaceholder{
  position: absolute;
  top: 10px;
  left: 8px;
  color: #B1B1B1;
  display: none;
}
.form-group .inputPlaceholder label{
  font-weight: normal;
  color: #B1B1B1;
}
.form-group .star{
  color: #FF0000;
}

.lneres{width: 1px; background: #989898; margin: 0px 65px 0px 40px; float: left; height: 80px;}
.lneres2{width: 1px; background: #989898; margin: 0px 52px 0px 35px; float: left; height: 80px;}
.dpnone{display: block; float: right;}
.dpnones{display: block; float: right; width: 100%;}
.dpnonesdesk{display: none}
@media (max-width:992px) and (min-width:320px){
  .reslog{float: left;}
  .side-btn{    
      bottom: 10px;
      position: fixed !important;
      display: block !important;
      background-position: 100% 100% !important;
      background-size: 100% !important;
      background-image: url("../images/calc.png") !important;
      background-color: #f0c84c !important;
      width: 75px !important;
      height: 75px !important;
      right: 10px !important;
      left: initial !important;
      font-size: 0px !important;
      border-radius: 50%;
      
  }
  .socialButtons {
      float: left;
      margin: 0px;
      width: 100%;
      text-align: center;
  }
  .socialButtons div {
      /* width: 40px; */
      text-align: center;
      float: none;
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      position: relative;
  }
  .dpnones{display: none;}
  .dpnonesdesk{display: block}
  .lneres{width: 1px; background: #989898; margin: 0px 65px 0px 40px; float: left; height: 80px; display: none;}
.lneres2{width: 1px; background: #989898; margin: 0px 52px 0px 35px; float: left; height: 80px; display: none;}
  .hideall{
      display: none;
  }
  .grop-cause_detai_prgresbar .grop-progress-bar {
      margin: 0px 0 10px;
  }
}
.contentdyn{
  min-height: 430px;
  
}
.extread{
  float: right
}
.contentdyn p{
  /* display: inline; */
}
.homefoot{
  margin-top: 0px !important;
  width: 100%;
  float: left
}
.tablecntr{
  text-align: center;
}
.note{
  font-size: 11px;
  line-height: 0px;
  background: #ccc;
  margin: 5px 0px 15px 0px;
  color: red;
}
.mainhd{position: absolute;color: white;top: 53px; left: 5px;}
.storp{width: 60px;height: 60px;border: 3px solid;border-color: transparent;border-color: rgba(255, 255, 255, 0.42); position: relative; top: 5px; left: -5px;}
.adminrole td{text-align: center}
.darachk input[type=checkbox] { margin: 0px 0px 8px 10px; float: right;}
@media screen and (max-width:600px) {
  .txtrot {
      text-align: center !important; padding-left: 0px !important;
  }
  
}
.txtrot{ 
  text-align: left; padding-left: 50px;
}

/* mixin for multiline */
.block-with-text {
  overflow: hidden;
  position: relative;
  max-height: 4em;
  /*text-align: justify;*/
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
.contentdyn p{display: inline;}
/* .resheight{min-height: 440px;} */
.bigCheck {
  margin-top: 12px;
}
.social_icons img{border-radius: 5px; width: 40px; margin-bottom: 2px;}
.headma h3{text-align: left}
.related-projects .project-post p{display: inline;}

/*.btnregspec{ margin-top: 45%;}*/




/* Side Menu */



.bootsidemenu {
  z-index: 999999;
  position: fixed;
  top: -1px;
  bottom: -1px;
  padding: 0;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.bootsidemenu > .menu-wrapper {
  padding: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  overflow: auto;
  width: 100%;
}

.bootsidemenu > .row {
  margin: 0;
}

.bootsidemenu {
  /*width: auto;*/
  min-width: unset;
}

.bootsidemenu.bootsidemenu-left {
  left: 0;
  right: auto; /*20px;*/
}

.bootsidemenu.bootsidemenu-right {
  right: 0;
  left: auto; /*20px;*/
}

.toggler {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  width: 20px;
  height: 48px;
  position: absolute;
  top: 47%;
  cursor: pointer;
  background-color: #fff;
}

.bootsidemenu-left > .toggler {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #fff;
  -webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, .175);
  box-shadow: 1px 0 8px rgba(0, 0, 0, .175);
  right: -20px;
}

.bootsidemenu-left > .toggler > span {
  margin: 15px 2px;
}

.bootsidemenu-right > .toggler {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #fff;
  -webkit-box-shadow: -1px 0 8px rgba(0, 0, 0, .175);
  box-shadow: -1px 0 8px rgba(0, 0, 0, .175);
  left: -20px;
}

.bootsidemenu-right > .toggler > span {
  margin: 15px 2px;
}

/*Native BootStrap Hack*/
.bootsidemenu .list-group, .bootsidemenu .list-group-item {
  background-color: transparent;
}

.bootsidemenu .list-group-item:last-child, .bootsidemenu .list-group-item:first-child {
  border-radius: 0;
}

.bootsidemenu .list-group {
  margin-bottom: 0;
}

.bootsidemenu .list-group-item {
  border: 1px solid #DDD;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  margin-top: -1px;
}

.list-group .collapse a {
  padding-left: 25px;
}

.list-group-item .icon {
  margin-right: 5px;
}

/*==========  Media queries for test ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .bootsidemenu {
      min-width: 200px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .bootsidemenu {
      min-width: 90%;
  }

  .globalLogin .login-model
  {
      margin: 0 auto;
      width: 90%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*========== Theme Default ==========*/
.default {
  background-color: #FFFFFF;
  color: #555555;
}

.default .toggler {
  background-color: #FFFFFF;
}

.default a,
.default a:hover,
.default a:visited {
  color: #337ab7;
}

.default.bootsidemenu-left,
.default.bootsidemenu-right,
.default.bootsidemenu-left > .toggler,
.default.bootsidemenu-right > .toggler {
  border-color: rgba(0, 0, 0, .15);
}

.default.bootsidemenu-right > .toggler {
  border-right:0;
}

.default.bootsidemenu-left > .toggler {
  border-left:0;
}

.default .list-group-item.active,
.default .list-group-item.active:focus,
.default .list-group-item.active:hover,
.default .item.active:focus {
  color: #FFFFFF;
  background-color: #337ab7;
  border-color: #337ab7;
}

.default a.list-group-item {
  color: #555555;
}

.default a.list-group-item:focus,
.default a.list-group-item:hover,
.default button.list-group-item:focus,
.default button.list-group-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #337ab7;
  border-color: #337ab7;
}
.faqsearchicon {position: relative;margin: 10px 0;}
.faqsearchicon input{padding-right: 30px;}
.faqsearchicon::after{content: url('../images/search.png'); position: absolute; right: 25px; top: 8px;}
.rdmore::after{content:'readmore'; position: absolute; right: 25px; top: 8px;}
.mt-16 {margin-top: 16px}
.mt-8 {margin-top: 8px}
.mt-56 {margin-top: 56px}
.mv-20{    margin: 20px 0 !important;}
.panel-default > .panel-heading a[aria-expanded="false"]:after {
  content: none !important;
}
.panel-default > .panel-heading a[aria-expanded="true"]:after {
  content: none !important;
}
a {
  cursor: pointer;
}

.more-show-hide {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.more-show-hide.ng-hide {
  opacity: 0;
}

.toggle-dots-grey {
  color: darkgrey;
}

.toggle-dots-yellow {
  color: #f0c84b;
}

.toggle-link-yellow {
  color: #f0c84b;
}

.toggle-link-grey {
  color: darkgrey;
}
.record-nf {
  text-align: center;
  color: red;
  font-size: 16px;
  margin-bottom: 30px !important;
}
/*========== Theme Default ==========*/


.readmore-aun {
  text-align: justify;
  text-justify: inter-word;
}
.readmore-aun:after {
  width: 100%;
  display: inline-block;
}


.content-aun {
  /* line-height: normal;
  display: inline-block; */
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 109.2px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
} 
.box-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #21b400;
  color: white;
  border-radius: 1rem;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}
.bars{
  float: right;
  color: #000;
}
.swal2-popup .swal2-content{color: #fff !important;}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #ececec !important;
}
.tbl-yellow{background: #f0c84c;color: #ffffff;}
.ssk:before, .ssk .glyphicon, .ssk .fa{color: #fff;}
.loadmore{background: #f3f3f3 !important; color: #000; padding: 5px; border: 1px solid #ddd; font-weight: bold; text-transform: uppercase;}
.loadmore:hover{ color: #000 !important; text-decoration: none; }
.loadmore:active{ color: #000 !important; text-decoration: none; }
.loadmore:focus{ color: #000 !important; text-decoration: none; }
.loadmore::selection { color: #000 !important; text-decoration: none; }
.paddleft{padding-left: 0px;}
.paddright{padding-right: 0px;}
.loghom{padding-right: 0px;}



/* Card CSS Bootstrap */
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 272px;
  background-color: #fff; border: 1px solid #ececec; border-radius: 6px; 
  margin: 0 0.5rem;
}
.card > .card-link{ color: #333; }
.card > .card-link:hover{  text-decoration: none; }
.card > .card-link .card-img img{ border-radius: 6px 6px 0 0; }
.card .card-img{ position: relative; padding: 0; display: table; }
.card .card-img .card-caption{
position: absolute;
right: 0;
bottom: 16px;
left: 0;
}
.card .card-body{ display: table; width: 100%; padding: 12px; }
.card .card-header{ border-radius: 6px 6px 0 0; padding: 8px; }
.card .card-footer{ border-radius: 0 0 6px 6px; padding: 8px; }
.card .card-left{ position: relative; float: left; padding: 0 0 8px 0; }
.card .card-right{ position: relative; float: left; padding: 8px 0 0 0; }
.card .card-body h1:first-child,
.card .card-body h2:first-child,
.card .card-body h3:first-child, 
.card .card-body h4:first-child,
.card .card-body .h1,
.card .card-body .h2,
.card .card-body .h3, 
.card .card-body .h4{ margin-top: 0; }
.card .card-body .heading{ display: block;  }
.card .card-body .heading:last-child{ margin-bottom: 0; }

.card .card-body .lead{ text-align: center; }
.card img {
  max-width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  max-height: 16.2rem;
}
.carousel-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 146px;
  padding: 13px;
  max-width: fit-content;
}
@media( min-width: 768px ){
.card .card-left{ float: left; padding: 0 8px 0 0; }
.card .card-right{ float: left; padding: 0 0 0 8px; }
  
.card .card-4-8 .card-left{ width: 33.33333333%; }
.card .card-4-8 .card-right{ width: 66.66666667%; }

.card .card-5-7 .card-left{ width: 41.66666667%; }
.card .card-5-7 .card-right{ width: 58.33333333%; }

.card .card-6-6 .card-left{ width: 50%; }
.card .card-6-6 .card-right{ width: 50%; }

.card .card-7-5 .card-left{ width: 58.33333333%; }
.card .card-7-5 .card-right{ width: 41.66666667%; }

.card .card-8-4 .card-left{ width: 66.66666667%; }
.card .card-8-4 .card-right{ width: 33.33333333%; }
}

/* -- default theme ------ */
.card-default{ 
border-color: #ddd;
background-color: #fff;
margin-bottom: 24px;
}
.card-default > .card-header,
.card-default > .card-footer{ color: #333; background-color: #ddd; }
.card-default > .card-header{ border-bottom: 1px solid #ddd; padding: 8px; }
.card-default > .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
.card-default > .card-body{  }
.card-default > .card-img:first-child img{ border-radius: 6px 6px 0 0; }
.card-default > .card-left{ padding-right: 4px; }
.card-default > .card-right{ padding-left: 4px; }
.card-default p:last-child{ margin-bottom: 0; }
.card-default .card-caption { color: #fff; text-align: center; text-transform: uppercase; }


/* -- price theme ------ */
.card-price{ border-color: #999; background-color: #ededed; margin-bottom: 24px; }
.card-price > .card-heading,
.card-price > .card-footer{ color: #333; background-color: #fdfdfd; }
.card-price > .card-heading{ border-bottom: 1px solid #ddd; padding: 8px; }
.card-price > .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
.card-price > .card-img:first-child img{ border-radius: 6px 6px 0 0; }
.card-price > .card-left{ padding-right: 4px; }
.card-price > .card-right{ padding-left: 4px; }
.card-price .card-caption { color: #fff; text-align: center; text-transform: uppercase; }
.card-price p:last-child{ margin-bottom: 0; }

.card-price .price{ 
text-align: center; 
color: #337ab7; 
font-size: 3em; 
text-transform: uppercase;
line-height: 0.7em; 
margin: 24px 0 16px;
}
.card-price .price small{ font-size: 0.4em; color: #66a5da; }
.card-price .details{ list-style: none; margin-bottom: 24px; padding: 0 18px; }
.card-price .details li{ text-align: center; margin-bottom: 8px; }
.card-price .buy-now{ text-transform: uppercase; }
.card-price table .price{ font-size: 1.2em; font-weight: 700; text-align: left; }
.card-price table .note{ color: #666; font-size: 0.8em; }
.social img{ width: 40px;}
a.logolink{top: 0 !important; width: auto; height:auto ; padding: 0;}
a.logolink:before, a.logolink:after {
  content: '';
  display: block;
  background: transparent;
  height: auto;
  border-radius: 0px;
}
.pr-0-imp {
    padding-right: 0px !important;
} 

.whiteMenu{      
  background-color:rgb(0, 0, 0, 0.7);  
  border-radius: 10px; 
  padding-left: 1.2em;
}

.whiteMenu > li {
  padding-top: 0.8em;
}

.whiteMenu li:last-child {
  padding-top: 0.6em !important;
}

/* tooltips */

.tooltip-icon-lock
{
   position: relative;
   display: inline-block;  
}

.tooltip-icon-lock .tooltip-text {
  visibility: hidden;
  width: 180px !important;
  background-color: #1A1A1A;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  line-height: 14px;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px !important;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-icon-lock .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1A1A1A transparent transparent transparent;
}

.tooltip-icon-lock:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.tooltip-icon-lock2
  {
     position: relative;
     display: inline-block;  
  }

  .tooltip-icon-lock2 .tooltip-text2 {
    visibility: hidden;
    width: 180px;
    background-color: #1A1A1A;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px 8px 8px;
    line-height: 14px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
  }
 
  .tooltip-icon-lock2 .tooltip-text2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1A1A1A transparent transparent transparent;
  }
  
  .tooltip-icon-lock2:hover .tooltip-text2 {
    visibility: visible;
    opacity: 1;
  }


  .login-popup {
    padding-top: 135px !important;
  }
  
@media (max-width: 480px) 
{
  .tooltip-icon-lock .tooltip-text
  {
      margin-left: -130px !important;
  }

  .tooltip-icon-lock .tooltip-text::after 
  {
    left: 86% !important;
  }
}

@media (max-width: 768px) 
{
  .tooltip-icon-lock .tooltip-text
  {
      margin-left: -130px !important;
  }

  .login-popup {
    padding-top: 60px !important;
  }

  .tooltip-icon-lock .tooltip-text::after 
  {
    left: 86% !important;
  }
}