<div class="grop-page container padding-cnt-no grop-full-width">
    <div class="no-sidebar">
        <div data-ng-controller="religiousPaymentController as religiousPaymentVM"
            data-ng-init="religiousPaymentVM.getReligiousPaymentSubCategoryDetail();religiousPaymentVM.getCountryList();religiousPaymentVM.amount=0;">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="project-detail-banner religiousbanner">
                        <h1>{{religiousPaymentVM.religiousPaymentSubCategoryDetail.programSubCategoryName}}</h1>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                <a class="printhed" href="#" class="" data-ng-if="!religiousPaymentVM.printArb"><img src="images/print-logo.jpg" alt="">
                    <h2 class="printhed">{{religiousPaymentVM.religiousPaymentSubCategoryDetail.programSubCategoryName}}
                    </h2>
                </a>
                <a class="printhed" href="#" class="" data-ng-if="religiousPaymentVM.printArb"><img src="images/print-logo-arb.svg" alt="" >
                    <h2 class="printhed" style="margin-top: 3%;">{{religiousPaymentVM.religiousPaymentSubCategoryDetail.programSubCategoryName}}
                    </h2>
                </a>
            </div>
                <div class="col-md-3  col-xs-12 dpnone printsc">
                    <div class="project-calculator">
                        <div id="religiousPaymentCalculator">
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="related-projects dpnones"
                        ng-if="religiousPaymentVM.relatedReligiousPayments.length > 0">
                        <h4>{{'RELATED RELIGIOUS PAYMENTS' | translate}}</h4>
                        <div class="gap-small"></div>
                        <div class="project-post"
                            ng-repeat="x in religiousPaymentVM.relatedReligiousPayments | unique:'x.slug' track by $index">
                            <h5>{{x.programName}}</h5>
                            <div class="img-area">
                                <a ng-href="/#/religiouspayment_subcategories/{{x.slug}}">
                                    <img src="uploads/{{x.imageLink}}" class="project-list-thumb-image" /></a>
                            </div>
                            <div class="readmore-aun" data-ng-if="!religiousPaymentVM.MobileDevice">
                                <p class="content-aun">{{readmoreText(x.programDescription)}}</p>
                                <a ng-href="/#/religiouspayment_subcategories/{{x.slug}}"
                                    data-ng-if="x.programDescription.length >= 178">{{' READ MORE' | translate }}</a>
                            </div>
                            <div class="readmore-aun" data-ng-if="religiousPaymentVM.MobileDevice">
                                <p class="content-aun-mobile">{{readmoreText(x.programDescription)}}</p>
                                <a ng-href="/#/religiouspayment_subcategories/{{x.slug}}"
                                    data-ng-if="x.programDescription.length >= 178">{{' READ MORE' | translate }}</a>
                            </div>
                            <!-- <div hm-read-more hm-html="{{x.programDescription}}" hm-link="/#/religiouspaymentdetails/{{x._id}}" hm-limit="200" hm-more-text="{{' READ MORE' | translate }}"
                                hm-dots-class="{{toggle-dots-grey}}" hm-link-class="readMore">
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-9 grop-float_left">
                    <div id="printableArea" class="resheight">
                        <p class="text-justify"
                            data-ng-bind-html="religiousPaymentVM.religiousPaymentSubCategoryDetail.description">
                            <!--{{religiousPaymentVM.religiousPaymentSubCategoryDetail.description.substring(0,530)}}-->
                            <!--{{religiousPaymentVM.description.para1}}-->
                        </p>
                        <!--<p class="text-justify" data-ng-bind-html="religiousPaymentVM.description.para2.substring(0,530)">-->
                        <!--&lt;!&ndash; {{religiousPaymentVM.religiousPaymentSubCategoryDetail.description.substring(531)}}&ndash;&gt;-->
                        <!--&lt;!&ndash;{{religiousPaymentVM.description.para2}}&ndash;&gt;-->
                        <!--</p>-->
                        <!--<img class="center-block descriptionImage" ng-src="uploads/{{religiousPaymentVM.religiousPaymentSubCategoryDetail.imageLink}}">-->
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 printsc no-padding">
                        <div class="col-md-4 col-sm-6 col-xs-12 socialButtons no-padding">
                            <div class="socialnaj no-padding">
                                <div class="shareButtons">
                                    <div class="showSocialIconsR">
                                        <div class="ssk-group">
                                            <p>
                                                <a href="" class="ssk ssk-facebook"></a>
                                                <a href="" class="ssk ssk-twitter"></a>
                                                <!-- <a href="" class="ssk ssk-google-plus"></a>
                                <a href="" class="ssk ssk-pinterest"></a>
                                <a href="" class="ssk ssk-tumblr"></a> -->
                                                <!-- <a href="" class="ssk ssk-instagram"></a> -->
                                            </p>
                                        </div>
                                    </div>
                                    <i class="fa fa-share-alt"></i>
                                    <small>{{ 'SHARE' | translate}}</small>
                                </div>
                            </div>
                            <div class="socialnaj no-padding">
                                <div class="">
                                    <a data-ng-click="sendMail()" target="_blank">
                                        <i class="fa fa-envelope-o"></i>
                                        <small>{{ 'EMAIL' | translate}}</small>
                                    </a>
                                </div>
                            </div>
                            <div class="socialnaj no-padding">
                                <div data-ng-click="religiousPaymentVM.printContent('printableArea');">
                                    <i class="fa fa-print"></i>
                                    <small>{{ 'PRINT' | translate}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12  printsc">
                    <!--<div class="col-md-12">
                        <h2>Related religiousPayments</h2>
                        <hr>
                        <div class="related-religiousPayments">
                            <div class="religiousPayment-post" ng-repeat="x in religiousPaymentVM.relatedReligiousPayments">
                                <h3>{{x.programName}}</h3>
                                <img src="uploads/{{x.imageLink}}" class="project-list-thumb-image" />
                                <p>
                                    {{x.programDescription.substring(0,100)}}
                                </p>
                                <a ng-href="/#/religiouspaymentdetails/{{x._id}}" class="tribe-events-read-more">View Details</a>
                            </div>
                        </div>
                    </div>-->
                    <div class="related-projects dpnonesdesk"
                        ng-if="religiousPaymentVM.relatedReligiousPayments.length > 0">
                        <h4>{{'RELATED RELIGIOUS PAYMENTS' | translate}}</h4>
                        <div class="gap-small"></div>
                        <div class="project-post"
                            ng-repeat="x in religiousPaymentVM.relatedReligiousPayments | unique:'x.slug' track by $index">
                            <h5>{{x.programName}}</h5>
                            <div class="img-area">
                                <a ng-href="/#/religiouspayment_subcategories/{{x.slug}}">
                                    <img src="uploads/{{x.imageLink}}" class="project-list-thumb-image" /></a>
                            </div>

                            <div class="readmore-aun" data-ng-if="!religiousPaymentVM.MobileDevice">
                                <p class="content-aun">{{readmoreText(x.programDescription)}}</p>
                                <a ng-href="/#/religiouspayment_subcategories/{{x.slug}}"
                                    data-ng-if="x.programDescription.length >= 178">{{' READ MORE' | translate }}</a>
                            </div>
                            <div class="readmore-aun" data-ng-if="religiousPaymentVM.MobileDevice">
                                <p class="content-aun-mobile">{{readmoreText(x.programDescription)}}</p>
                                <a ng-href="/#/religiouspayment_subcategories/{{x.slug}}"
                                    data-ng-if="x.programDescription.length >= 178">{{' READ MORE' | translate }}</a>
                            </div>
                            <!-- <div hm-read-more hm-html="{{x.programDescription}}" hm-link="/#/religiouspaymentdetails/{{x._id}}" hm-limit="200" hm-more-text="{{' READ MORE' | translate }}"
                                hm-dots-class="{{toggle-dots-grey}}" hm-link-class="readMore">
                            </div> -->
                        </div>

                    </div>
                    <!-- <div class="col-md-3 no-padding dpnones">
                    <div class="project-calculator">
                        <div id="religiousPaymentCalculator">
    
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="related-projects">
                        <h4>{{'RELATED RELIGIOUS PAYMENTS' | translate}}</h4>
                        <div class="gap-small"></div>
                        <div class="project-post"
                             ng-repeat="x in religiousPaymentVM.relatedReligiousPayments track by $index">
                            <h5>{{x.programName}}</h5>
                            <div class="img-area">
                                <a ng-href="/#/religiouspaymentdetails/{{x._id}}">
                                    <img src="uploads/{{x.imageLink}}" class="project-list-thumb-image"/></a>
                            </div>
                            <p  data-ng-bind-html="x.programDescription.substring(0,150) + '...'">
                                <a ng-href="/#/religiouspaymentdetails/{{x._id}}" class="readMore">Read More >></a>
                            </p>
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="printhed">
        <!-- <h5 class="footprint">All original content created on your website is secured by copyright law.</h5> -->
        <ul>
            <li><img src="images/bar-footer.jpg" alt=""></li>
        </ul>
    </div>
</footer>
<script type="text/javascript">
    SocialShareKit.init();

</script>