<div class="grop-page padding-cnt-no grop-full-width">
    <div class="no-sidebar">
        <div data-ng-controller="pageContentController as pageVM"
            data-ng-init="pageVM.getPageContentByName('Gallery'); pageVM.getRepresentative();">
            <div class="container">
                <div class="row">
                    <div class="col-md-12  col-xs-12">
                        <div class="pageHeadingAreaImg" style="background-image:url(/images/about-banner.png)">
                            <h1>{{'GALLERY'|translate}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{pageVM.pageData.pageDescription}}</p>
                            <hr style="border:1px solid #CECECE;margin-bottom: 35px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" style="width: 100%;">
                            <h4>
                                <a href="" data-ng-click="pageVM.filterGallery('photo')">{{'IMAGES'|translate}}</a> /
                                <a href="" data-ng-click="pageVM.filterGallery('video')">{{'VIDEOS'|translate}}</a>
                            </h4>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-10 centered galleryArea">
                            <div data-ng-repeat="gallery in pageVM.galleryMediaList">
                                <a href="uploads/{{gallery.file}}" class="swipebox" data-ng-if="gallery.type=='photo'"
                                    data-ng-click="galleryLightBox(gallery.file,'image');">
                                    <img ng-src="uploads/{{gallery.file}}" class="fixedSize" alt="gallery.file" />
                                </a>
                                <!--<a class="swipebox-video" rel="vimeo" href="https://www.youtube.com/watch?v=PkZNo7MFNFg">My Videos</a>-->
                                <!--<iframe class="swipebox-video" width="420" height="315"-->
                                <!--src="https://www.youtube.com/watch?v=PkZNo7MFNFg">-->
                                <!--</iframe>-->
                                <!-- <a href="{{gallery.file}}" class="swipebox-video" rel="youtube" data-ng-if="gallery.type=='video'" -->
                                <!-- data-ng-click="galleryLightBox(gallery.file,'video');"> -->
                                <iframe class="fixedSize" data-ng-if="gallery.type=='video'" width="250" height="195"
                                    ng-src="{{gallery.file}}" frameborder="0" allowfullscreen></iframe>
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- Modal -->
            <!--<div id="galleryModal" class="mo&ndash;&gt;dal fade" role="d&lt;!&ndash;ialog">-->
            <!--<div class=&ndash;&gt;"modal-dialog modal-m&lt;!&ndash;&lt;!&ndash;              &ndash;&gt;&ndash;&gt;   &lt;!&ndash; Modal content&lt;!&ndash;&ndash;&gt;-->
            <!--<div class="modal-content" style=" border-radius: 5px; &ndash;&gt;   text-align: center;">-->
            <!--&lt;!&ndash;&lt;!&ndash;                    &lt;!&ndash; <d&ndash;&gt;iv class="modal-header">-->
            <!--&lt;!&ndash;                        <button type="button" class="close" data-dismiss=&ndash;&gt;"modal">&times;</button>-->
            <!--&lt;!&ndash;      &ndash;&gt;&ndash;&gt;               </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <div class="modal-bo&ndash;&gt;dy" id="galleryContent">-->

            <!--&lt;!&ndash;      &ndash;&gt;                  </d&lt;!&ndash;iv>-->
            <!--&ndash;&gt;                 &lt;!&ndash; </div&ndash;&gt;>-->
            <!--&lt;!&ndash;     <&ndash;&gt;/div>-->
            <!--</div>-->

            <!--</div>-->
        </div>
    </div>
</div>