<div class="grop-page  padding-cnt-no grop-full-width">
    <div data-ng-controller="userController as userVM">
        <!-- Content Wrapper. Contains page content -->
        <div class="col-sm-8 col-xs-12 col-md-9 col-lg-10 ">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                <div class="row">
                    <div class="col-md-8 col-xs-12 col-md-offset-1">
                        <section class="content-header nopadding">
                            <h1 ng-if="!userVM.isUpdate">
                                {{ 'ADD USER' | translate}}
                            </h1>
                            <h1 ng-if="userVM.isUpdate">
                                {{ 'UPDATE USER' | translate}}
                            </h1>
                        </section>
                        <div class="box box-primary">
                            <div class="box-header">
                                <div class="col-md-10 box-title">{{ 'FILL USER FORM' | translate}}</div>
                            </div>
                            <div class="box-body">
                                <form role="form" class="form-horizontal">
                                    <div class="col-md-12">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>{{ 'USERNAME' | translate}}</label>
                                                <input type="text" class="form-control" data-ng-model="userVM.userName"
                                                       placeholder="{{ 'USERNAME' | translate}}">
                                            </div>
                                            <div class="row" style="margin-bottom: 12px">
                                                {{ 'ROLE' | translate}}
                                            </div>
                                            
                                            <div class="form-group"  ng-repeat="obj in userVM.roles">
                                                <input type="checkbox" ng-checked="obj.selectedRole" ng-disabled = "obj.role!='admin' && userVM.selectedRoles.length && userVM.selectedRoles.indexOf('admin')>=0" ng-model="obj.selectedRole" id="{{obj.role}}" ng-change="selectRole(obj.role)"> 
                                               <label for="{{obj.role}}">{{obj.role | translate}}</label> 
                                            </div>
                                            <div class="form-group">
                                                <label>{{ 'FULL NAME' | translate}}</label>
                                                <input type="text" class="form-control" data-ng-model="userVM.fullName"
                                                       placeholder="{{ 'FULL NAME' | translate}}">
                                            </div>
                                            <div class="form-group" ng-if="!userVM.isUpdate">
                                                <label>{{ 'PASSWORD' | translate}}</label>
                                                <input type="password" class="form-control"
                                                       data-ng-model="userVM.password" placeholder="{{ 'PASSWORD' | translate}}">
                                            </div>
                                            <div class="form-group" ng-if="!userVM.isUpdate">
                                                <label>{{ 'CONFIRM PASSWORD' | translate}}</label>
                                                <input type="password" class="form-control"
                                                       data-ng-model="userVM.confirmPassword" ng-disabled="!userVM.password" placeholder="{{ 'CONFIRM PASSWORD' | translate}}">
                                            </div>
                                            <div class="form-group">
                                                <label>{{ 'EMAIL' | translate}}</label>
                                                <input type="text" class="form-control" data-ng-model="userVM.email"
                                                       placeholder="{{ 'EMAIL' | translate}}">
                                            </div>
                                            <div class="form-group">
                                                <label>{{ 'MOBILE NO' | translate}}</label>
                                                <input type="text" class="form-control" data-ng-model="userVM.mobile"
                                                       placeholder="{{ 'MOBILE NO' | translate}}">
                                            </div>
                                            <div class="form-group">
                                                <label>{{ 'GENDER' | translate}}</label>
                                                <input type="radio" name="gender" data-ng-model="userVM.gender"
                                                       value="male">{{ 'MALE' | translate}}

                                                <input type="radio" name="gender" data-ng-model="userVM.gender"
                                                       value="female">{{ 'FEMALE' | translate}}
                                            </div>
                                            <div class="form-group">
                                                <button type="button" ng-click="createRoleUser()"
                                                        class="btn btn-primary">{{ 'SUBMIT' | translate}}
                                                </button>
                                              
                                            </div>
                                        </div>
                                   
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- HEADER -->

    </div>

</div>